body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7804 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u7805 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u7806 {
  position:absolute;
  left:154px;
  top:44px;
  width:108px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7807 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u7808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
}
#u7808 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:229px;
}
#u7809 {
  position:absolute;
  left:2px;
  top:106px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7810 {
  position:absolute;
  left:21px;
  top:312px;
  width:373px;
  height:188px;
}
#u7811 {
  position:absolute;
  left:2px;
  top:86px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7812 {
  position:absolute;
  left:20px;
  top:312px;
  width:380px;
  height:255px;
}
#u7813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7813 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7814 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7815 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:125px;
}
#u7816 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7817 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:125px;
}
#u7818 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7819 {
  position:absolute;
  left:0px;
  top:125px;
  width:125px;
  height:125px;
}
#u7820 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7821 {
  position:absolute;
  left:125px;
  top:125px;
  width:125px;
  height:125px;
}
#u7822 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u7823 {
  position:absolute;
  left:250px;
  top:125px;
  width:125px;
  height:125px;
}
#u7824 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7825 {
  position:absolute;
  left:57px;
  top:329px;
  width:50px;
  height:50px;
}
#u7826 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7827 {
  position:absolute;
  left:183px;
  top:329px;
  width:50px;
  height:50px;
}
#u7828 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u7829 {
  position:absolute;
  left:305px;
  top:327px;
  width:55px;
  height:55px;
}
#u7830 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7831 {
  position:absolute;
  left:57px;
  top:450px;
  width:50px;
  height:50px;
}
#u7832 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
}
#u7833 {
  position:absolute;
  left:183px;
  top:450px;
  width:56px;
  height:50px;
}
#u7834 {
  position:absolute;
  left:2px;
  top:17px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7835 {
  position:absolute;
  left:21px;
  top:395px;
  width:125px;
  height:42px;
}
#u7836 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u7837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7837 {
  position:absolute;
  left:146px;
  top:395px;
  width:125px;
  height:42px;
}
#u7838 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u7839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7839 {
  position:absolute;
  left:271px;
  top:395px;
  width:125px;
  height:42px;
}
#u7840 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u7841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7841 {
  position:absolute;
  left:21px;
  top:516px;
  width:125px;
  height:42px;
}
#u7842 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u7843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7843 {
  position:absolute;
  left:146px;
  top:516px;
  width:125px;
  height:42px;
}
#u7844 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u7845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u7845 {
  position:absolute;
  left:306px;
  top:450px;
  width:60px;
  height:50px;
}
#u7846 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7847 {
  position:absolute;
  left:271px;
  top:516px;
  width:125px;
  height:42px;
}
#u7848 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  word-wrap:break-word;
}
#u7849 {
  position:absolute;
  left:20px;
  top:312px;
  width:126px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7850 {
  position:absolute;
  left:146px;
  top:312px;
  width:126px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7851 {
  position:absolute;
  left:272px;
  top:312px;
  width:122px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7852 {
  position:absolute;
  left:20px;
  top:437px;
  width:126px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7853 {
  position:absolute;
  left:146px;
  top:437px;
  width:126px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7854 {
  position:absolute;
  left:272px;
  top:437px;
  width:122px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7855 {
  position:absolute;
  left:20px;
  top:83px;
  width:375px;
  height:604px;
}
#u7856 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7857 {
  position:absolute;
  left:47px;
  top:222px;
  width:319px;
  height:265px;
}
#u7858 {
  position:absolute;
  left:2px;
  top:124px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:256px;
}
#u7859 {
  position:absolute;
  left:55px;
  top:226px;
  width:304px;
  height:256px;
}
#u7860 {
  position:absolute;
  left:2px;
  top:120px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:58px;
}
#u7861 {
  position:absolute;
  left:183px;
  top:280px;
  width:45px;
  height:58px;
}
#u7862 {
  position:absolute;
  left:2px;
  top:21px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:58px;
}
#u7863 {
  position:absolute;
  left:68px;
  top:315px;
  width:45px;
  height:58px;
}
#u7864 {
  position:absolute;
  left:2px;
  top:21px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7865 {
  position:absolute;
  left:207px;
  top:445px;
  width:145px;
  height:39px;
  overflow:hidden;
}
#u7865_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7865_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
