body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5259 {
  position:absolute;
  left:24px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5260 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5259_ann {
  position:absolute;
  left:116px;
  top:69px;
  width:1px;
  height:1px;
}
#u5261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5261 {
  position:absolute;
  left:23px;
  top:127px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5262 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5263 {
  position:absolute;
  left:29px;
  top:135px;
  width:25px;
  height:25px;
}
#u5264 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5265 {
  position:absolute;
  left:263px;
  top:127px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5266 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5267 {
  position:absolute;
  left:269px;
  top:135px;
  width:25px;
  height:25px;
}
#u5268 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5269 {
  position:absolute;
  left:503px;
  top:127px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5270 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5269_ann {
  position:absolute;
  left:726px;
  top:123px;
  width:1px;
  height:1px;
}
#u5271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5271 {
  position:absolute;
  left:509px;
  top:136px;
  width:25px;
  height:25px;
}
#u5272 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5273 {
  position:absolute;
  left:215px;
  top:133px;
  width:30px;
  height:30px;
}
#u5274 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5275 {
  position:absolute;
  left:743px;
  top:127px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5276 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5275_ann {
  position:absolute;
  left:966px;
  top:123px;
  width:1px;
  height:1px;
}
#u5277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5277 {
  position:absolute;
  left:749px;
  top:135px;
  width:25px;
  height:25px;
}
#u5278 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5279 {
  position:absolute;
  left:454px;
  top:133px;
  width:30px;
  height:30px;
}
#u5280 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5281 {
  position:absolute;
  left:133px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5282 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5281_ann {
  position:absolute;
  left:225px;
  top:69px;
  width:1px;
  height:1px;
}
#u5283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5283 {
  position:absolute;
  left:701px;
  top:135px;
  width:25px;
  height:25px;
}
#u5284 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5285 {
  position:absolute;
  left:940px;
  top:135px;
  width:25px;
  height:25px;
}
#u5286 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5287 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u5288 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5289 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u5290 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u5289_ann {
  position:absolute;
  left:317px;
  top:1px;
  width:1px;
  height:1px;
}
#u5291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:364px;
}
#u5291 {
  position:absolute;
  left:23px;
  top:182px;
  width:1003px;
  height:364px;
}
#u5292 {
  position:absolute;
  left:2px;
  top:174px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:626px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5293 {
  position:absolute;
  left:0px;
  top:-3px;
  width:1155px;
  height:626px;
}
#u5294 {
  position:absolute;
  left:2px;
  top:305px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:337px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5295 {
  position:absolute;
  left:252px;
  top:105px;
  width:651px;
  height:337px;
}
#u5296 {
  position:absolute;
  left:2px;
  top:160px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5297 {
  position:absolute;
  left:263px;
  top:112px;
  width:7px;
  height:40px;
}
#u5298 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5299 {
  position:absolute;
  left:280px;
  top:112px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u5300 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u5301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u5301 {
  position:absolute;
  left:653px;
  top:364px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u5302 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5303 {
  position:absolute;
  left:762px;
  top:364px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5304 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5305 {
  position:absolute;
  left:353px;
  top:212px;
  width:449px;
  height:40px;
  font-size:16px;
}
#u5306 {
  position:absolute;
  left:2px;
  top:10px;
  width:445px;
  word-wrap:break-word;
}
