body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:1126px;
}
#u6996 {
  position:absolute;
  left:1px;
  top:1px;
  width:921px;
  height:1126px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:555px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
