body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4052 {
  position:absolute;
  left:23px;
  top:9px;
  width:30px;
  height:30px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4054 {
  position:absolute;
  left:63px;
  top:9px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u4055 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:545px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4056 {
  position:absolute;
  left:122px;
  top:84px;
  width:879px;
  height:545px;
}
#u4057 {
  position:absolute;
  left:2px;
  top:264px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u4058 {
  position:absolute;
  left:410px;
  top:118px;
  width:374px;
  height:58px;
  color:#999999;
  text-align:left;
}
#u4059 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u4060 {
  position:absolute;
  left:339px;
  top:118px;
  width:71px;
  height:58px;
  font-size:14px;
  text-align:left;
}
#u4061 {
  position:absolute;
  left:2px;
  top:21px;
  width:67px;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4062 {
  position:absolute;
  left:499px;
  top:539px;
  width:126px;
  height:44px;
  color:#1E1E1E;
}
#u4063 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u4064 {
  position:absolute;
  left:410px;
  top:186px;
  width:374px;
  height:58px;
  color:#999999;
  text-align:left;
}
#u4065 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u4066 {
  position:absolute;
  left:339px;
  top:186px;
  width:71px;
  height:58px;
  font-size:14px;
  text-align:left;
}
#u4067 {
  position:absolute;
  left:2px;
  top:21px;
  width:67px;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u4068 {
  position:absolute;
  left:410px;
  top:254px;
  width:374px;
  height:58px;
  color:#999999;
  text-align:left;
}
#u4069 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u4070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u4070 {
  position:absolute;
  left:339px;
  top:254px;
  width:71px;
  height:58px;
  font-size:14px;
  text-align:left;
}
#u4071 {
  position:absolute;
  left:2px;
  top:21px;
  width:67px;
  word-wrap:break-word;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u4072 {
  position:absolute;
  left:410px;
  top:322px;
  width:374px;
  height:58px;
  color:#999999;
  text-align:left;
}
#u4073 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u4074 {
  position:absolute;
  left:339px;
  top:322px;
  width:71px;
  height:58px;
  font-size:14px;
  text-align:left;
}
#u4075 {
  position:absolute;
  left:2px;
  top:21px;
  width:67px;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4076 {
  position:absolute;
  left:794px;
  top:132px;
  width:61px;
  height:31px;
  font-size:16px;
  color:#FFFFFF;
}
#u4077 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
