body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6065 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6067 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u6068 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u6069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6069 {
  position:absolute;
  left:24px;
  top:130px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6070 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6071 {
  position:absolute;
  left:30px;
  top:138px;
  width:25px;
  height:25px;
}
#u6072 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6073 {
  position:absolute;
  left:216px;
  top:136px;
  width:30px;
  height:30px;
}
#u6074 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6075 {
  position:absolute;
  left:132px;
  top:80px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6076 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6077 {
  position:absolute;
  left:241px;
  top:80px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6078 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6077_ann {
  position:absolute;
  left:333px;
  top:76px;
  width:1px;
  height:1px;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6079 {
  position:absolute;
  left:264px;
  top:130px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6080 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6081 {
  position:absolute;
  left:270px;
  top:138px;
  width:25px;
  height:25px;
}
#u6082 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6083 {
  position:absolute;
  left:456px;
  top:136px;
  width:30px;
  height:30px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6085 {
  position:absolute;
  left:504px;
  top:130px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6086 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6087 {
  position:absolute;
  left:510px;
  top:138px;
  width:25px;
  height:25px;
}
#u6088 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6089 {
  position:absolute;
  left:24px;
  top:80px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6090 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:397px;
}
#u6091 {
  position:absolute;
  left:24px;
  top:180px;
  width:1038px;
  height:397px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:190px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
