body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:93px;
}
#u2778 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:93px;
}
#u2779 {
  position:absolute;
  left:2px;
  top:38px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
