body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7932 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1101px;
  height:50px;
}
#u7933 {
  position:absolute;
  left:2px;
  top:17px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 185, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7934 {
  position:absolute;
  left:7px;
  top:6px;
  width:9px;
  height:36px;
}
#u7935 {
  position:absolute;
  left:2px;
  top:10px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7936 {
  position:absolute;
  left:26px;
  top:15px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:586px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7938 {
  position:absolute;
  left:26px;
  top:180px;
  width:1040px;
  height:586px;
}
#u7939 {
  position:absolute;
  left:2px;
  top:285px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7940 {
  position:absolute;
  left:82px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7941 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u7942_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u7942 {
  position:absolute;
  left:142px;
  top:99px;
  width:237px;
  height:2px;
}
#u7943 {
  position:absolute;
  left:2px;
  top:-7px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7944 {
  position:absolute;
  left:380px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7945 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u7946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7946 {
  position:absolute;
  left:680px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7947 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u7948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u7948 {
  position:absolute;
  left:84px;
  top:139px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u7949 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u7950 {
  position:absolute;
  left:385px;
  top:139px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u7951 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u7952 {
  position:absolute;
  left:682px;
  top:138px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u7953 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7954_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u7954 {
  position:absolute;
  left:440px;
  top:98px;
  width:237px;
  height:2px;
}
#u7955 {
  position:absolute;
  left:2px;
  top:-7px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7956 {
  position:absolute;
  left:984px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7957 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u7958_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u7958 {
  position:absolute;
  left:744px;
  top:98px;
  width:237px;
  height:2px;
}
#u7959 {
  position:absolute;
  left:2px;
  top:-7px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u7960 {
  position:absolute;
  left:986px;
  top:139px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u7961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7962 {
  position:absolute;
  left:294px;
  top:208px;
  width:148px;
  height:53px;
  text-align:right;
}
#u7963 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u7964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7964 {
  position:absolute;
  left:294px;
  top:286px;
  width:148px;
  height:53px;
  text-align:right;
}
#u7965 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u7966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7966 {
  position:absolute;
  left:442px;
  top:286px;
  width:374px;
  height:53px;
  text-align:right;
}
#u7967 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7968 {
  position:absolute;
  left:442px;
  top:286px;
  width:374px;
  height:53px;
}
#u7968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7968_input {
  font-family:'微软雅黑';
}
#u7968_input:disabled {
  color:grayText;
}
#u7969 {
  position:absolute;
  left:442px;
  top:208px;
  width:374px;
  height:53px;
}
#u7969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7969_input {
  font-family:'微软雅黑';
}
#u7969_input:disabled {
  color:grayText;
}
#u7970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7970 {
  position:absolute;
  left:294px;
  top:349px;
  width:148px;
  height:53px;
  text-align:right;
}
#u7971 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u7970_ann {
  position:absolute;
  left:435px;
  top:345px;
  width:1px;
  height:1px;
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:326px;
}
#u7972 {
  position:absolute;
  left:49px;
  top:412px;
  width:325px;
  height:326px;
}
#u7973 {
  position:absolute;
  left:2px;
  top:155px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:326px;
}
#u7974 {
  position:absolute;
  left:384px;
  top:412px;
  width:325px;
  height:326px;
}
#u7975 {
  position:absolute;
  left:2px;
  top:155px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:326px;
}
#u7976 {
  position:absolute;
  left:718px;
  top:412px;
  width:325px;
  height:326px;
}
#u7977 {
  position:absolute;
  left:2px;
  top:155px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7978 {
  position:absolute;
  left:417px;
  top:801px;
  width:131px;
  height:45px;
}
#u7979 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u7980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7980 {
  position:absolute;
  left:570px;
  top:801px;
  width:131px;
  height:45px;
}
#u7981 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
