body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  position:absolute;
  left:125px;
  top:159px;
  width:103px;
  height:35px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:38px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u1876 {
  position:absolute;
  left:24px;
  top:31px;
  width:140px;
  height:29px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1878 {
  position:absolute;
  left:125px;
  top:212px;
  width:258px;
  height:342px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1880 {
  position:absolute;
  left:125px;
  top:212px;
  width:257px;
  height:171px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1882 {
  position:absolute;
  left:126px;
  top:384px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1882_ann {
  position:absolute;
  left:376px;
  top:380px;
  width:1px;
  height:1px;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1884 {
  position:absolute;
  left:125px;
  top:439px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1885 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1886 {
  position:absolute;
  left:125px;
  top:472px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1887 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1888 {
  position:absolute;
  left:336px;
  top:514px;
  width:30px;
  height:30px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1890 {
  position:absolute;
  left:291px;
  top:511px;
  width:35px;
  height:35px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:125px;
  top:439px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u1892_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1892_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1892_ann {
  position:absolute;
  left:375px;
  top:435px;
  width:1px;
  height:1px;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1893 {
  position:absolute;
  left:251px;
  top:515px;
  width:30px;
  height:30px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1895 {
  position:absolute;
  left:206px;
  top:515px;
  width:30px;
  height:30px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1897 {
  position:absolute;
  left:412px;
  top:212px;
  width:258px;
  height:342px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1899 {
  position:absolute;
  left:412px;
  top:212px;
  width:257px;
  height:171px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1901 {
  position:absolute;
  left:413px;
  top:384px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1901_ann {
  position:absolute;
  left:663px;
  top:380px;
  width:1px;
  height:1px;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1903 {
  position:absolute;
  left:412px;
  top:439px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1904 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1905 {
  position:absolute;
  left:412px;
  top:472px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1906 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1907 {
  position:absolute;
  left:623px;
  top:514px;
  width:30px;
  height:30px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1909 {
  position:absolute;
  left:578px;
  top:511px;
  width:35px;
  height:35px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911 {
  position:absolute;
  left:412px;
  top:439px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u1911_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1911_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1911_ann {
  position:absolute;
  left:662px;
  top:435px;
  width:1px;
  height:1px;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1912 {
  position:absolute;
  left:538px;
  top:515px;
  width:30px;
  height:30px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1914 {
  position:absolute;
  left:493px;
  top:515px;
  width:30px;
  height:30px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1916 {
  position:absolute;
  left:701px;
  top:212px;
  width:258px;
  height:342px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1918 {
  position:absolute;
  left:701px;
  top:212px;
  width:257px;
  height:171px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1920 {
  position:absolute;
  left:702px;
  top:384px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1920_ann {
  position:absolute;
  left:952px;
  top:380px;
  width:1px;
  height:1px;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1922 {
  position:absolute;
  left:701px;
  top:439px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1923 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1924 {
  position:absolute;
  left:701px;
  top:472px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1925 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1926 {
  position:absolute;
  left:912px;
  top:514px;
  width:30px;
  height:30px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1928 {
  position:absolute;
  left:867px;
  top:511px;
  width:35px;
  height:35px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930 {
  position:absolute;
  left:701px;
  top:439px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u1930_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1930_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1930_ann {
  position:absolute;
  left:951px;
  top:435px;
  width:1px;
  height:1px;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1931 {
  position:absolute;
  left:827px;
  top:515px;
  width:30px;
  height:30px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1933 {
  position:absolute;
  left:782px;
  top:515px;
  width:30px;
  height:30px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1935 {
  position:absolute;
  left:125px;
  top:589px;
  width:258px;
  height:342px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1937 {
  position:absolute;
  left:125px;
  top:589px;
  width:257px;
  height:171px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1939 {
  position:absolute;
  left:126px;
  top:761px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1939_ann {
  position:absolute;
  left:376px;
  top:757px;
  width:1px;
  height:1px;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1941 {
  position:absolute;
  left:125px;
  top:816px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1942 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1943 {
  position:absolute;
  left:125px;
  top:849px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1944 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1945 {
  position:absolute;
  left:336px;
  top:891px;
  width:30px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_ann {
  position:absolute;
  left:359px;
  top:887px;
  width:1px;
  height:1px;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1947 {
  position:absolute;
  left:291px;
  top:888px;
  width:35px;
  height:35px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_ann {
  position:absolute;
  left:319px;
  top:884px;
  width:1px;
  height:1px;
}
#u1949 {
  position:absolute;
  left:125px;
  top:816px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u1949_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1949_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1949_ann {
  position:absolute;
  left:375px;
  top:812px;
  width:1px;
  height:1px;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1950 {
  position:absolute;
  left:251px;
  top:892px;
  width:30px;
  height:30px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_ann {
  position:absolute;
  left:274px;
  top:888px;
  width:1px;
  height:1px;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1952 {
  position:absolute;
  left:206px;
  top:892px;
  width:30px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_ann {
  position:absolute;
  left:229px;
  top:888px;
  width:1px;
  height:1px;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1954 {
  position:absolute;
  left:412px;
  top:589px;
  width:258px;
  height:342px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1956 {
  position:absolute;
  left:412px;
  top:589px;
  width:257px;
  height:171px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1958 {
  position:absolute;
  left:413px;
  top:761px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1958_ann {
  position:absolute;
  left:663px;
  top:757px;
  width:1px;
  height:1px;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1960 {
  position:absolute;
  left:412px;
  top:816px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1961 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1962 {
  position:absolute;
  left:412px;
  top:849px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1963 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:623px;
  top:891px;
  width:30px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1966 {
  position:absolute;
  left:578px;
  top:888px;
  width:35px;
  height:35px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968 {
  position:absolute;
  left:412px;
  top:816px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u1968_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1968_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1968_ann {
  position:absolute;
  left:662px;
  top:812px;
  width:1px;
  height:1px;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:538px;
  top:892px;
  width:30px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:493px;
  top:892px;
  width:30px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1973 {
  position:absolute;
  left:701px;
  top:589px;
  width:258px;
  height:342px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1975 {
  position:absolute;
  left:701px;
  top:589px;
  width:257px;
  height:171px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1977 {
  position:absolute;
  left:702px;
  top:761px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1977_ann {
  position:absolute;
  left:952px;
  top:757px;
  width:1px;
  height:1px;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1979 {
  position:absolute;
  left:701px;
  top:816px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1980 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1981 {
  position:absolute;
  left:701px;
  top:849px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1982 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1983 {
  position:absolute;
  left:912px;
  top:891px;
  width:30px;
  height:30px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1985 {
  position:absolute;
  left:867px;
  top:888px;
  width:35px;
  height:35px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987 {
  position:absolute;
  left:701px;
  top:816px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u1987_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1987_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1987_ann {
  position:absolute;
  left:951px;
  top:812px;
  width:1px;
  height:1px;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1988 {
  position:absolute;
  left:827px;
  top:892px;
  width:30px;
  height:30px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1990 {
  position:absolute;
  left:782px;
  top:892px;
  width:30px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1992 {
  position:absolute;
  left:125px;
  top:957px;
  width:258px;
  height:342px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1994 {
  position:absolute;
  left:125px;
  top:957px;
  width:257px;
  height:171px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1996 {
  position:absolute;
  left:126px;
  top:1129px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1996_ann {
  position:absolute;
  left:376px;
  top:1125px;
  width:1px;
  height:1px;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1998 {
  position:absolute;
  left:125px;
  top:1184px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u1999 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2000 {
  position:absolute;
  left:125px;
  top:1217px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u2001 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:336px;
  top:1259px;
  width:30px;
  height:30px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2004 {
  position:absolute;
  left:291px;
  top:1256px;
  width:35px;
  height:35px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006 {
  position:absolute;
  left:125px;
  top:1184px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u2006_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2006_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2006_ann {
  position:absolute;
  left:375px;
  top:1180px;
  width:1px;
  height:1px;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:251px;
  top:1260px;
  width:30px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:206px;
  top:1260px;
  width:30px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u2011 {
  position:absolute;
  left:412px;
  top:957px;
  width:258px;
  height:342px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u2013 {
  position:absolute;
  left:412px;
  top:957px;
  width:257px;
  height:171px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2015 {
  position:absolute;
  left:413px;
  top:1129px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u2015_ann {
  position:absolute;
  left:663px;
  top:1125px;
  width:1px;
  height:1px;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2017 {
  position:absolute;
  left:412px;
  top:1184px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u2018 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2019 {
  position:absolute;
  left:412px;
  top:1217px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u2020 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:623px;
  top:1259px;
  width:30px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2023 {
  position:absolute;
  left:578px;
  top:1256px;
  width:35px;
  height:35px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025 {
  position:absolute;
  left:412px;
  top:1184px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u2025_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2025_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2025_ann {
  position:absolute;
  left:662px;
  top:1180px;
  width:1px;
  height:1px;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2026 {
  position:absolute;
  left:538px;
  top:1260px;
  width:30px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:493px;
  top:1260px;
  width:30px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u2030 {
  position:absolute;
  left:701px;
  top:957px;
  width:258px;
  height:342px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u2032 {
  position:absolute;
  left:701px;
  top:957px;
  width:257px;
  height:171px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2034 {
  position:absolute;
  left:702px;
  top:1129px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u2034_ann {
  position:absolute;
  left:952px;
  top:1125px;
  width:1px;
  height:1px;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2036 {
  position:absolute;
  left:701px;
  top:1184px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u2037 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2038 {
  position:absolute;
  left:701px;
  top:1217px;
  width:257px;
  height:33px;
  font-size:14px;
  color:#999999;
}
#u2039 {
  position:absolute;
  left:2px;
  top:8px;
  width:253px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:912px;
  top:1259px;
  width:30px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2042 {
  position:absolute;
  left:867px;
  top:1256px;
  width:35px;
  height:35px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044 {
  position:absolute;
  left:701px;
  top:1184px;
  width:257px;
  height:66px;
  overflow:hidden;
}
#u2044_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2044_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2044_ann {
  position:absolute;
  left:951px;
  top:1180px;
  width:1px;
  height:1px;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2045 {
  position:absolute;
  left:827px;
  top:1260px;
  width:30px;
  height:30px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:782px;
  top:1260px;
  width:30px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:24px;
  top:107px;
  width:30px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2051 {
  position:absolute;
  left:64px;
  top:107px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u2052 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u2053 {
  position:absolute;
  left:543px;
  top:31px;
  width:405px;
  height:35px;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2055 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2057 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2059 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2061 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
