body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6997 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1101px;
  height:50px;
}
#u6998 {
  position:absolute;
  left:2px;
  top:17px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 185, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6999 {
  position:absolute;
  left:7px;
  top:6px;
  width:9px;
  height:36px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:10px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7001 {
  position:absolute;
  left:26px;
  top:15px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:1050px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7003 {
  position:absolute;
  left:30px;
  top:87px;
  width:1040px;
  height:1050px;
}
#u7004 {
  position:absolute;
  left:2px;
  top:517px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:434px;
}
#u7005 {
  position:absolute;
  left:74px;
  top:115px;
  width:952px;
  height:434px;
}
#u7006 {
  position:absolute;
  left:2px;
  top:209px;
  width:948px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:170px;
}
#u7007 {
  position:absolute;
  left:826px;
  top:285px;
  width:183px;
  height:170px;
}
#u7008 {
  position:absolute;
  left:2px;
  top:77px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:2px;
}
#u7009 {
  position:absolute;
  left:74px;
  top:888px;
  width:952px;
  height:1px;
}
#u7010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:948px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7011 {
  position:absolute;
  left:408px;
  top:942px;
  width:131px;
  height:45px;
}
#u7012 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7013 {
  position:absolute;
  left:561px;
  top:942px;
  width:131px;
  height:45px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:459px;
}
#u7015 {
  position:absolute;
  left:82px;
  top:1455px;
  width:738px;
  height:459px;
}
#u7016 {
  position:absolute;
  left:2px;
  top:222px;
  width:734px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:347px;
}
#u7017 {
  position:absolute;
  left:74px;
  top:543px;
  width:1px;
  height:346px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:165px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:348px;
}
#u7019 {
  position:absolute;
  left:813px;
  top:542px;
  width:1px;
  height:347px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:166px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:340px;
}
#u7021 {
  position:absolute;
  left:74px;
  top:549px;
  width:739px;
  height:340px;
}
#u7022 {
  position:absolute;
  left:2px;
  top:162px;
  width:735px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:348px;
}
#u7023 {
  position:absolute;
  left:1025px;
  top:542px;
  width:1px;
  height:347px;
}
#u7024 {
  position:absolute;
  left:2px;
  top:166px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025 {
  position:absolute;
  left:833px;
  top:185px;
  width:168px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
