body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1293px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:1293px;
  height:91px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:38px;
  width:1289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u1854 {
  position:absolute;
  left:24px;
  top:31px;
  width:140px;
  height:29px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856 {
  position:absolute;
  left:543px;
  top:31px;
  width:405px;
  height:35px;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u1858 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1859 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u1860 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1861 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u1862 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1863 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u1864 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1865 {
  position:absolute;
  left:24px;
  top:107px;
  width:30px;
  height:30px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1867 {
  position:absolute;
  left:64px;
  top:107px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u1868 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1869 {
  position:absolute;
  left:423px;
  top:161px;
  width:375px;
  height:596px;
  font-size:20px;
  color:#FFFFFF;
}
#u1870 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:880px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  position:absolute;
  left:12px;
  top:161px;
  width:203px;
  height:880px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:432px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  position:absolute;
  left:12px;
  top:161px;
  width:203px;
  height:46px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:12px;
  top:453px;
  width:203px;
  height:46px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1877 {
  position:absolute;
  left:24px;
  top:217px;
  width:50px;
  height:50px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1879 {
  position:absolute;
  left:34px;
  top:227px;
  width:30px;
  height:30px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1881 {
  position:absolute;
  left:24px;
  top:267px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1883 {
  position:absolute;
  left:89px;
  top:217px;
  width:50px;
  height:50px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1885 {
  position:absolute;
  left:99px;
  top:227px;
  width:30px;
  height:30px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1887 {
  position:absolute;
  left:89px;
  top:267px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1889 {
  position:absolute;
  left:156px;
  top:217px;
  width:50px;
  height:50px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1891 {
  position:absolute;
  left:166px;
  top:227px;
  width:30px;
  height:30px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1893 {
  position:absolute;
  left:156px;
  top:267px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1895 {
  position:absolute;
  left:23px;
  top:294px;
  width:50px;
  height:50px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1897 {
  position:absolute;
  left:33px;
  top:304px;
  width:30px;
  height:30px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1899 {
  position:absolute;
  left:23px;
  top:344px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1901 {
  position:absolute;
  left:88px;
  top:294px;
  width:50px;
  height:50px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1903 {
  position:absolute;
  left:98px;
  top:304px;
  width:30px;
  height:30px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1905 {
  position:absolute;
  left:88px;
  top:344px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1907 {
  position:absolute;
  left:155px;
  top:294px;
  width:50px;
  height:50px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1909 {
  position:absolute;
  left:165px;
  top:304px;
  width:30px;
  height:30px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1911 {
  position:absolute;
  left:155px;
  top:344px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1913 {
  position:absolute;
  left:22px;
  top:371px;
  width:50px;
  height:50px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1915 {
  position:absolute;
  left:32px;
  top:381px;
  width:30px;
  height:30px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1917 {
  position:absolute;
  left:22px;
  top:421px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1919 {
  position:absolute;
  left:87px;
  top:371px;
  width:50px;
  height:50px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1921 {
  position:absolute;
  left:97px;
  top:381px;
  width:30px;
  height:30px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1923 {
  position:absolute;
  left:87px;
  top:421px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1925 {
  position:absolute;
  left:154px;
  top:371px;
  width:50px;
  height:50px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1927 {
  position:absolute;
  left:164px;
  top:381px;
  width:30px;
  height:30px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1929 {
  position:absolute;
  left:154px;
  top:421px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:32px;
  top:509px;
  width:78px;
  height:85px;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  color:#999999;
}
#u1933 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:20px;
  width:73px;
  height:20px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u1936 {
  position:absolute;
  left:0px;
  top:40px;
  width:73px;
  height:20px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:60px;
  width:73px;
  height:20px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940 {
  position:absolute;
  left:123px;
  top:509px;
  width:81px;
  height:85px;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  color:#999999;
}
#u1942 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:20px;
  width:76px;
  height:20px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:40px;
  width:76px;
  height:20px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:60px;
  width:76px;
  height:20px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:12px;
  top:697px;
  width:203px;
  height:46px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1951 {
  position:absolute;
  left:32px;
  top:753px;
  width:164px;
  height:43px;
  color:#FFFFFF;
}
#u1952 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1953 {
  position:absolute;
  left:32px;
  top:599px;
  width:73px;
  height:80px;
  color:#999999;
}
#u1954 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  position:absolute;
  left:12px;
  top:823px;
  width:203px;
  height:46px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
#u1957 {
  position:absolute;
  left:32px;
  top:889px;
  width:46px;
  height:45px;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1960 {
  position:absolute;
  left:20px;
  top:0px;
  width:21px;
  height:20px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1962 {
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1964 {
  position:absolute;
  left:20px;
  top:20px;
  width:21px;
  height:20px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:83px;
  top:889px;
  width:46px;
  height:45px;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1969 {
  position:absolute;
  left:20px;
  top:0px;
  width:21px;
  height:20px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1973 {
  position:absolute;
  left:20px;
  top:20px;
  width:21px;
  height:20px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975 {
  position:absolute;
  left:134px;
  top:889px;
  width:46px;
  height:45px;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1978 {
  position:absolute;
  left:20px;
  top:0px;
  width:21px;
  height:20px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1982 {
  position:absolute;
  left:20px;
  top:20px;
  width:21px;
  height:20px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984 {
  position:absolute;
  left:423px;
  top:161px;
  width:375px;
  height:181px;
  overflow:hidden;
}
#u1984_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:181px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1984_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:214px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:214px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:99px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987 {
  position:absolute;
  left:0px;
  top:157px;
  width:376px;
  height:24px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:4px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1989 {
  position:absolute;
  left:313px;
  top:164px;
  width:8px;
  height:8px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1991 {
  position:absolute;
  left:322px;
  top:164px;
  width:8px;
  height:8px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1993 {
  position:absolute;
  left:331px;
  top:164px;
  width:8px;
  height:8px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:181px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1984_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:305px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:-19px;
  width:486px;
  height:305px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:144px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1997 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1999 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2001 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2003 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:181px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1984_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:277px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:-28px;
  width:486px;
  height:277px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:130px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:0px;
  top:213px;
  width:486px;
  height:33px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2009 {
  position:absolute;
  left:424px;
  top:224px;
  width:10px;
  height:10px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2011 {
  position:absolute;
  left:435px;
  top:224px;
  width:10px;
  height:10px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2013 {
  position:absolute;
  left:447px;
  top:224px;
  width:10px;
  height:10px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_ann {
  position:absolute;
  left:791px;
  top:157px;
  width:1px;
  height:1px;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2015 {
  position:absolute;
  left:122px;
  top:599px;
  width:73px;
  height:80px;
  color:#999999;
}
#u2016 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  word-wrap:break-word;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2018 {
  position:absolute;
  left:448px;
  top:415px;
  width:50px;
  height:50px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_ann {
  position:absolute;
  left:491px;
  top:411px;
  width:1px;
  height:1px;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:458px;
  top:425px;
  width:30px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2022 {
  position:absolute;
  left:448px;
  top:465px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2025 {
  position:absolute;
  left:537px;
  top:415px;
  width:50px;
  height:50px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:547px;
  top:425px;
  width:30px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2029 {
  position:absolute;
  left:537px;
  top:465px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2032 {
  position:absolute;
  left:629px;
  top:415px;
  width:50px;
  height:50px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:639px;
  top:425px;
  width:30px;
  height:30px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2036 {
  position:absolute;
  left:629px;
  top:465px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2039 {
  position:absolute;
  left:723px;
  top:415px;
  width:50px;
  height:50px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:733px;
  top:425px;
  width:30px;
  height:30px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2043 {
  position:absolute;
  left:723px;
  top:465px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2046 {
  position:absolute;
  left:448px;
  top:601px;
  width:50px;
  height:50px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:458px;
  top:611px;
  width:30px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2050 {
  position:absolute;
  left:448px;
  top:651px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2053 {
  position:absolute;
  left:448px;
  top:509px;
  width:50px;
  height:50px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:458px;
  top:519px;
  width:30px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2057 {
  position:absolute;
  left:448px;
  top:559px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2060 {
  position:absolute;
  left:537px;
  top:509px;
  width:50px;
  height:50px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2062 {
  position:absolute;
  left:547px;
  top:519px;
  width:30px;
  height:30px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2064 {
  position:absolute;
  left:537px;
  top:559px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2067 {
  position:absolute;
  left:629px;
  top:509px;
  width:50px;
  height:50px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2069 {
  position:absolute;
  left:639px;
  top:519px;
  width:30px;
  height:30px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2071 {
  position:absolute;
  left:629px;
  top:559px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2074 {
  position:absolute;
  left:723px;
  top:509px;
  width:50px;
  height:50px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:733px;
  top:519px;
  width:30px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2078 {
  position:absolute;
  left:723px;
  top:559px;
  width:50px;
  height:17px;
  font-size:11px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:46px;
}
#u2080 {
  position:absolute;
  left:488px;
  top:352px;
  width:245px;
  height:46px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:15px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082 {
  position:absolute;
  left:547px;
  top:161px;
  width:462px;
  height:223px;
  overflow:hidden;
  visibility:hidden;
}
#u2082_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:223px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2082_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2083 {
  position:absolute;
  left:7px;
  top:3px;
  width:448px;
  height:214px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:99px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2085 {
  position:absolute;
  left:91px;
  top:7px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2086 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2087 {
  position:absolute;
  left:155px;
  top:7px;
  width:217px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u2088 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2089 {
  position:absolute;
  left:341px;
  top:12px;
  width:25px;
  height:25px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2091 {
  position:absolute;
  left:91px;
  top:47px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2092 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2093 {
  position:absolute;
  left:155px;
  top:47px;
  width:217px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u2094 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
#u2093_ann {
  position:absolute;
  left:365px;
  top:43px;
  width:1px;
  height:1px;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2095 {
  position:absolute;
  left:341px;
  top:52px;
  width:25px;
  height:25px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2097 {
  position:absolute;
  left:91px;
  top:86px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2098 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2099 {
  position:absolute;
  left:155px;
  top:86px;
  width:217px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u2100 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
#u2099_ann {
  position:absolute;
  left:365px;
  top:82px;
  width:1px;
  height:1px;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2101 {
  position:absolute;
  left:341px;
  top:91px;
  width:25px;
  height:25px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2103 {
  position:absolute;
  left:238px;
  top:175px;
  width:91px;
  height:34px;
  color:#1E1E1E;
}
#u2104 {
  position:absolute;
  left:2px;
  top:9px;
  width:87px;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2105 {
  position:absolute;
  left:343px;
  top:175px;
  width:91px;
  height:34px;
  color:#1E1E1E;
}
#u2106 {
  position:absolute;
  left:2px;
  top:9px;
  width:87px;
  word-wrap:break-word;
}
#u2107 {
  position:absolute;
  left:229px;
  top:169px;
  width:226px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2108 {
  position:absolute;
  left:547px;
  top:352px;
  width:462px;
  height:268px;
  overflow:hidden;
  visibility:hidden;
}
#u2108_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:268px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2109 {
  position:absolute;
  left:7px;
  top:3px;
  width:448px;
  height:257px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:120px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2111 {
  position:absolute;
  left:91px;
  top:7px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2112 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2113 {
  position:absolute;
  left:155px;
  top:7px;
  width:217px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u2114 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2115 {
  position:absolute;
  left:341px;
  top:12px;
  width:25px;
  height:25px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2117 {
  position:absolute;
  left:91px;
  top:47px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2119 {
  position:absolute;
  left:155px;
  top:47px;
  width:217px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u2120 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2121 {
  position:absolute;
  left:341px;
  top:52px;
  width:25px;
  height:25px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2123 {
  position:absolute;
  left:91px;
  top:86px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2124 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2125 {
  position:absolute;
  left:155px;
  top:86px;
  width:217px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u2126 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2127 {
  position:absolute;
  left:341px;
  top:91px;
  width:25px;
  height:25px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2129 {
  position:absolute;
  left:239px;
  top:216px;
  width:91px;
  height:34px;
  color:#1E1E1E;
}
#u2130 {
  position:absolute;
  left:2px;
  top:9px;
  width:87px;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2131 {
  position:absolute;
  left:344px;
  top:216px;
  width:91px;
  height:34px;
  color:#1E1E1E;
}
#u2132 {
  position:absolute;
  left:2px;
  top:9px;
  width:87px;
  word-wrap:break-word;
}
#u2133 {
  position:absolute;
  left:229px;
  top:209px;
  width:226px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2134 {
  position:absolute;
  left:91px;
  top:126px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2135 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2136 {
  position:absolute;
  left:155px;
  top:126px;
  width:217px;
  height:34px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2137 {
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u2136_ann {
  position:absolute;
  left:365px;
  top:122px;
  width:1px;
  height:1px;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2138 {
  position:absolute;
  left:341px;
  top:131px;
  width:25px;
  height:25px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2140 {
  position:absolute;
  left:91px;
  top:164px;
  width:64px;
  height:34px;
  text-align:left;
}
#u2141 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2142 {
  position:absolute;
  left:155px;
  top:164px;
  width:217px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u2143 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
#u2142_ann {
  position:absolute;
  left:365px;
  top:160px;
  width:1px;
  height:1px;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2144 {
  position:absolute;
  left:341px;
  top:169px;
  width:25px;
  height:25px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
