body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:979px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3029 {
  position:absolute;
  left:23px;
  top:9px;
  width:30px;
  height:30px;
}
#u3030 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3031 {
  position:absolute;
  left:63px;
  top:9px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u3032 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u3033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3033 {
  position:absolute;
  left:100px;
  top:83px;
  width:879px;
  height:800px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:392px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3035 {
  position:absolute;
  left:308px;
  top:117px;
  width:590px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3036 {
  position:absolute;
  left:2px;
  top:17px;
  width:586px;
  word-wrap:break-word;
}
#u3037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3037 {
  position:absolute;
  left:225px;
  top:117px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3038 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3039 {
  position:absolute;
  left:308px;
  top:182px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3040 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3041 {
  position:absolute;
  left:225px;
  top:182px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3042 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3043 {
  position:absolute;
  left:652px;
  top:182px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3044 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3045 {
  position:absolute;
  left:569px;
  top:182px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3046 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3047 {
  position:absolute;
  left:308px;
  top:248px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3048 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3049 {
  position:absolute;
  left:225px;
  top:248px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3050 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3051 {
  position:absolute;
  left:652px;
  top:248px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3052 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3053 {
  position:absolute;
  left:569px;
  top:248px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3054 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3055 {
  position:absolute;
  left:308px;
  top:313px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3056 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3055_ann {
  position:absolute;
  left:547px;
  top:309px;
  width:1px;
  height:1px;
}
#u3057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3057 {
  position:absolute;
  left:225px;
  top:313px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3058 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3059 {
  position:absolute;
  left:652px;
  top:313px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3060 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3059_ann {
  position:absolute;
  left:891px;
  top:309px;
  width:1px;
  height:1px;
}
#u3061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3061 {
  position:absolute;
  left:569px;
  top:313px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3062 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3063 {
  position:absolute;
  left:308px;
  top:378px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3064 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3065 {
  position:absolute;
  left:225px;
  top:378px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3066 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3067 {
  position:absolute;
  left:652px;
  top:378px;
  width:246px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3068 {
  position:absolute;
  left:2px;
  top:17px;
  width:242px;
  word-wrap:break-word;
}
#u3067_ann {
  position:absolute;
  left:891px;
  top:374px;
  width:1px;
  height:1px;
}
#u3069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3069 {
  position:absolute;
  left:569px;
  top:378px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3070 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3071 {
  position:absolute;
  left:308px;
  top:443px;
  width:590px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3072 {
  position:absolute;
  left:2px;
  top:17px;
  width:586px;
  word-wrap:break-word;
}
#u3073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3073 {
  position:absolute;
  left:225px;
  top:443px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3074 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3075 {
  position:absolute;
  left:308px;
  top:507px;
  width:590px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3076 {
  position:absolute;
  left:2px;
  top:17px;
  width:586px;
  word-wrap:break-word;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3077 {
  position:absolute;
  left:225px;
  top:507px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3078 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3079 {
  position:absolute;
  left:308px;
  top:571px;
  width:590px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3080 {
  position:absolute;
  left:2px;
  top:17px;
  width:586px;
  word-wrap:break-word;
}
#u3079_ann {
  position:absolute;
  left:891px;
  top:567px;
  width:1px;
  height:1px;
}
#u3081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3081 {
  position:absolute;
  left:225px;
  top:571px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3082 {
  position:absolute;
  left:2px;
  top:17px;
  width:79px;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3083 {
  position:absolute;
  left:515px;
  top:192px;
  width:30px;
  height:30px;
}
#u3084 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3085 {
  position:absolute;
  left:857px;
  top:192px;
  width:30px;
  height:30px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3087 {
  position:absolute;
  left:857px;
  top:258px;
  width:30px;
  height:30px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3089 {
  position:absolute;
  left:515px;
  top:388px;
  width:30px;
  height:30px;
}
#u3090 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3091 {
  position:absolute;
  left:405px;
  top:802px;
  width:126px;
  height:44px;
  color:#1E1E1E;
}
#u3092 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u3093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3093 {
  position:absolute;
  left:549px;
  top:802px;
  width:126px;
  height:44px;
  color:#1E1E1E;
}
#u3094 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u3095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3095 {
  position:absolute;
  left:308px;
  top:634px;
  width:590px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3096 {
  position:absolute;
  left:2px;
  top:17px;
  width:586px;
  word-wrap:break-word;
}
#u3095_ann {
  position:absolute;
  left:891px;
  top:630px;
  width:1px;
  height:1px;
}
#u3097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3097 {
  position:absolute;
  left:225px;
  top:634px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3098 {
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u3099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3099 {
  position:absolute;
  left:857px;
  top:644px;
  width:30px;
  height:30px;
}
#u3100 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3101 {
  position:absolute;
  left:308px;
  top:694px;
  width:590px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u3102 {
  position:absolute;
  left:2px;
  top:17px;
  width:586px;
  word-wrap:break-word;
}
#u3101_ann {
  position:absolute;
  left:891px;
  top:690px;
  width:1px;
  height:1px;
}
#u3103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3103 {
  position:absolute;
  left:225px;
  top:694px;
  width:83px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3104 {
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u3105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3105 {
  position:absolute;
  left:857px;
  top:704px;
  width:30px;
  height:30px;
}
#u3106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
