body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1089px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3967 {
  position:absolute;
  left:23px;
  top:9px;
  width:30px;
  height:30px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3969 {
  position:absolute;
  left:63px;
  top:9px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u3970 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3971 {
  position:absolute;
  left:24px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3972 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3973 {
  position:absolute;
  left:351px;
  top:73px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3974 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3975 {
  position:absolute;
  left:357px;
  top:81px;
  width:25px;
  height:25px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3977 {
  position:absolute;
  left:591px;
  top:73px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3978 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3979 {
  position:absolute;
  left:597px;
  top:81px;
  width:25px;
  height:25px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3981 {
  position:absolute;
  left:242px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3982 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3983 {
  position:absolute;
  left:133px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3984 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:397px;
}
#u3985 {
  position:absolute;
  left:24px;
  top:131px;
  width:1065px;
  height:397px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:190px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
