body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5990 {
  position:absolute;
  left:24px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5991 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5992 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u5993 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5994 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u5995 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5996 {
  position:absolute;
  left:24px;
  top:123px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5997 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5998 {
  position:absolute;
  left:30px;
  top:131px;
  width:25px;
  height:25px;
}
#u5999 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6000 {
  position:absolute;
  left:264px;
  top:123px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6001 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6002 {
  position:absolute;
  left:270px;
  top:131px;
  width:25px;
  height:25px;
}
#u6003 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6004 {
  position:absolute;
  left:216px;
  top:129px;
  width:30px;
  height:30px;
}
#u6005 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6006 {
  position:absolute;
  left:133px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6007 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6008 {
  position:absolute;
  left:242px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6009 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6010 {
  position:absolute;
  left:454px;
  top:128px;
  width:30px;
  height:30px;
}
#u6011 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6012 {
  position:absolute;
  left:504px;
  top:123px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6013 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6014 {
  position:absolute;
  left:510px;
  top:131px;
  width:25px;
  height:25px;
}
#u6015 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:364px;
}
#u6016 {
  position:absolute;
  left:24px;
  top:173px;
  width:919px;
  height:364px;
}
#u6017 {
  position:absolute;
  left:2px;
  top:174px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
