body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7452 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u7453 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u7454 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u7455 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u7456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:452px;
}
#u7456 {
  position:absolute;
  left:24px;
  top:74px;
  width:1000px;
  height:452px;
}
#u7457 {
  position:absolute;
  left:2px;
  top:218px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7458 {
  position:absolute;
  left:895px;
  top:114px;
  width:100px;
  height:412px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
