body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6147 {
  position:absolute;
  left:7px;
  top:8px;
  width:885px;
  height:573px;
}
#u6148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6148 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6149 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:45px;
}
#u6150 {
  position:absolute;
  left:100px;
  top:0px;
  width:780px;
  height:45px;
}
#u6151 {
  position:absolute;
  left:2px;
  top:14px;
  width:776px;
  word-wrap:break-word;
}
#u6152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:105px;
}
#u6152 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:105px;
}
#u6153 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u6154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:105px;
}
#u6154 {
  position:absolute;
  left:100px;
  top:45px;
  width:780px;
  height:105px;
  text-align:left;
}
#u6155 {
  position:absolute;
  left:2px;
  top:20px;
  width:776px;
  word-wrap:break-word;
}
#u6156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:105px;
}
#u6156 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:105px;
}
#u6157 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u6158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:105px;
}
#u6158 {
  position:absolute;
  left:100px;
  top:150px;
  width:780px;
  height:105px;
  text-align:left;
}
#u6159 {
  position:absolute;
  left:2px;
  top:36px;
  width:776px;
  word-wrap:break-word;
}
#u6160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:96px;
}
#u6160 {
  position:absolute;
  left:0px;
  top:255px;
  width:100px;
  height:96px;
}
#u6161 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u6162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:96px;
}
#u6162 {
  position:absolute;
  left:100px;
  top:255px;
  width:780px;
  height:96px;
  text-align:left;
}
#u6163 {
  position:absolute;
  left:2px;
  top:24px;
  width:776px;
  word-wrap:break-word;
}
#u6164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:96px;
}
#u6164 {
  position:absolute;
  left:0px;
  top:351px;
  width:100px;
  height:96px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u6166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:96px;
}
#u6166 {
  position:absolute;
  left:100px;
  top:351px;
  width:780px;
  height:96px;
  text-align:left;
}
#u6167 {
  position:absolute;
  left:2px;
  top:32px;
  width:776px;
  word-wrap:break-word;
}
#u6168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:121px;
}
#u6168 {
  position:absolute;
  left:0px;
  top:447px;
  width:100px;
  height:121px;
}
#u6169 {
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  word-wrap:break-word;
}
#u6170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:121px;
}
#u6170 {
  position:absolute;
  left:100px;
  top:447px;
  width:780px;
  height:121px;
  text-align:left;
}
#u6171 {
  position:absolute;
  left:2px;
  top:20px;
  width:776px;
  word-wrap:break-word;
}
