body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1122px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:91px;
}
#u691 {
  position:absolute;
  left:2px;
  top:38px;
  width:1118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u692 {
  position:absolute;
  left:24px;
  top:31px;
  width:140px;
  height:29px;
}
#u693 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694 {
  position:absolute;
  left:543px;
  top:31px;
  width:405px;
  height:35px;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u696 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u697 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u698 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u699 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u700 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u701 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u702 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u703 {
  position:absolute;
  left:24px;
  top:107px;
  width:30px;
  height:30px;
}
#u704 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u705 {
  position:absolute;
  left:64px;
  top:107px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u706 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:305px;
  top:192px;
  width:105px;
  height:55px;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u709 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u710 {
  position:absolute;
  left:405px;
  top:197px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u711 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u712 {
  position:absolute;
  left:787px;
  top:202px;
  width:30px;
  height:30px;
}
#u713 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_ann {
  position:absolute;
  left:810px;
  top:198px;
  width:1px;
  height:1px;
}
#u714 {
  position:absolute;
  left:305px;
  top:251px;
  width:105px;
  height:55px;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u716 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u717 {
  position:absolute;
  left:405px;
  top:256px;
  width:40px;
  height:40px;
}
#u718 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_ann {
  position:absolute;
  left:438px;
  top:252px;
  width:1px;
  height:1px;
}
#u719 {
  position:absolute;
  left:305px;
  top:311px;
  width:105px;
  height:55px;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u721 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u722 {
  position:absolute;
  left:405px;
  top:316px;
  width:380px;
  height:169px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u723 {
  position:absolute;
  left:2px;
  top:2px;
  width:376px;
  word-wrap:break-word;
}
