body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
}
#u945 {
  position:absolute;
  left:2px;
  top:38px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u946 {
  position:absolute;
  left:24px;
  top:31px;
  width:140px;
  height:29px;
}
#u947 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:543px;
  top:31px;
  width:405px;
  height:35px;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u951 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u953 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u954 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u955 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u956 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u957 {
  position:absolute;
  left:118px;
  top:140px;
  width:258px;
  height:342px;
}
#u958 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u959 {
  position:absolute;
  left:118px;
  top:140px;
  width:257px;
  height:171px;
}
#u960 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u961 {
  position:absolute;
  left:119px;
  top:322px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u962 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u963 {
  position:absolute;
  left:420px;
  top:140px;
  width:258px;
  height:342px;
}
#u964 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u965 {
  position:absolute;
  left:420px;
  top:140px;
  width:257px;
  height:171px;
}
#u966 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u967 {
  position:absolute;
  left:421px;
  top:322px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u968 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u969 {
  position:absolute;
  left:726px;
  top:140px;
  width:258px;
  height:342px;
}
#u970 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u971 {
  position:absolute;
  left:726px;
  top:140px;
  width:257px;
  height:171px;
}
#u972 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u973 {
  position:absolute;
  left:727px;
  top:322px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u974 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u975 {
  position:absolute;
  left:118px;
  top:530px;
  width:258px;
  height:342px;
}
#u976 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u977 {
  position:absolute;
  left:118px;
  top:530px;
  width:257px;
  height:171px;
}
#u978 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u979 {
  position:absolute;
  left:119px;
  top:712px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u980 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u981 {
  position:absolute;
  left:420px;
  top:530px;
  width:258px;
  height:342px;
}
#u982 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u983 {
  position:absolute;
  left:420px;
  top:530px;
  width:257px;
  height:171px;
}
#u984 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u985 {
  position:absolute;
  left:421px;
  top:712px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u986 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u987 {
  position:absolute;
  left:726px;
  top:530px;
  width:258px;
  height:342px;
}
#u988 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u989 {
  position:absolute;
  left:726px;
  top:530px;
  width:257px;
  height:171px;
}
#u990 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u991 {
  position:absolute;
  left:727px;
  top:712px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u992 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u993 {
  position:absolute;
  left:118px;
  top:911px;
  width:258px;
  height:342px;
}
#u994 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u995 {
  position:absolute;
  left:118px;
  top:911px;
  width:257px;
  height:171px;
}
#u996 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u997 {
  position:absolute;
  left:119px;
  top:1093px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u998 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u999 {
  position:absolute;
  left:420px;
  top:911px;
  width:258px;
  height:342px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1001 {
  position:absolute;
  left:420px;
  top:911px;
  width:257px;
  height:171px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1003 {
  position:absolute;
  left:421px;
  top:1093px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1005 {
  position:absolute;
  left:726px;
  top:911px;
  width:258px;
  height:342px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u1007 {
  position:absolute;
  left:726px;
  top:911px;
  width:257px;
  height:171px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1009 {
  position:absolute;
  left:727px;
  top:1093px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:127px;
  top:380px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1012 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1013 {
  position:absolute;
  left:127px;
  top:413px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1014 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1015 {
  position:absolute;
  left:430px;
  top:380px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1016 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1017 {
  position:absolute;
  left:430px;
  top:413px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:736px;
  top:380px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1020 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1021 {
  position:absolute;
  left:736px;
  top:413px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1022 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1023 {
  position:absolute;
  left:126px;
  top:770px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1024 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1025 {
  position:absolute;
  left:126px;
  top:803px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1026 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1027 {
  position:absolute;
  left:429px;
  top:770px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1028 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1029 {
  position:absolute;
  left:429px;
  top:803px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1030 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1031 {
  position:absolute;
  left:735px;
  top:770px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1032 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1033 {
  position:absolute;
  left:735px;
  top:803px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1034 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1035 {
  position:absolute;
  left:126px;
  top:1157px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1036 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1037 {
  position:absolute;
  left:126px;
  top:1190px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1038 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1039 {
  position:absolute;
  left:429px;
  top:1157px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1040 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1041 {
  position:absolute;
  left:429px;
  top:1190px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1042 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1043 {
  position:absolute;
  left:735px;
  top:1157px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1044 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1045 {
  position:absolute;
  left:735px;
  top:1190px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u1046 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1272px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1272px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:628px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1049 {
  position:absolute;
  left:194px;
  top:222px;
  width:710px;
  height:271px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1050 {
  position:absolute;
  left:2px;
  top:128px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:194px;
  top:312px;
  width:715px;
  height:55px;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:50px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u1053 {
  position:absolute;
  left:2px;
  top:16px;
  width:706px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1054 {
  position:absolute;
  left:669px;
  top:419px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u1055 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:778px;
  top:419px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1057 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  position:absolute;
  left:201px;
  top:238px;
  width:7px;
  height:40px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:218px;
  top:238px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u1061 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
