body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
}
#u803 {
  position:absolute;
  left:2px;
  top:38px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u804 {
  position:absolute;
  left:24px;
  top:31px;
  width:140px;
  height:29px;
}
#u805 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u806 {
  position:absolute;
  left:118px;
  top:165px;
  width:258px;
  height:342px;
}
#u807 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u808 {
  position:absolute;
  left:118px;
  top:165px;
  width:257px;
  height:171px;
}
#u809 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u810 {
  position:absolute;
  left:119px;
  top:347px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u811 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u812 {
  position:absolute;
  left:420px;
  top:165px;
  width:258px;
  height:342px;
}
#u813 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u814 {
  position:absolute;
  left:420px;
  top:165px;
  width:257px;
  height:171px;
}
#u815 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u816 {
  position:absolute;
  left:421px;
  top:347px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u817 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u818 {
  position:absolute;
  left:726px;
  top:165px;
  width:258px;
  height:342px;
}
#u819 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u820 {
  position:absolute;
  left:726px;
  top:165px;
  width:257px;
  height:171px;
}
#u821 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u822 {
  position:absolute;
  left:727px;
  top:347px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u823 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u824 {
  position:absolute;
  left:118px;
  top:555px;
  width:258px;
  height:342px;
}
#u825 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u826 {
  position:absolute;
  left:118px;
  top:555px;
  width:257px;
  height:171px;
}
#u827 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u828 {
  position:absolute;
  left:119px;
  top:737px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u829 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u830 {
  position:absolute;
  left:420px;
  top:555px;
  width:258px;
  height:342px;
}
#u831 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u832 {
  position:absolute;
  left:420px;
  top:555px;
  width:257px;
  height:171px;
}
#u833 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u834 {
  position:absolute;
  left:421px;
  top:737px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u835 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u836 {
  position:absolute;
  left:726px;
  top:555px;
  width:258px;
  height:342px;
}
#u837 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u838 {
  position:absolute;
  left:726px;
  top:555px;
  width:257px;
  height:171px;
}
#u839 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u840 {
  position:absolute;
  left:727px;
  top:737px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u841 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u842 {
  position:absolute;
  left:118px;
  top:936px;
  width:258px;
  height:342px;
}
#u843 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u844 {
  position:absolute;
  left:118px;
  top:936px;
  width:257px;
  height:171px;
}
#u845 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u846 {
  position:absolute;
  left:119px;
  top:1118px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u847 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u848 {
  position:absolute;
  left:420px;
  top:936px;
  width:258px;
  height:342px;
}
#u849 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u850 {
  position:absolute;
  left:420px;
  top:936px;
  width:257px;
  height:171px;
}
#u851 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u852 {
  position:absolute;
  left:421px;
  top:1118px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u853 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u854 {
  position:absolute;
  left:726px;
  top:936px;
  width:258px;
  height:342px;
}
#u855 {
  position:absolute;
  left:2px;
  top:163px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:171px;
}
#u856 {
  position:absolute;
  left:726px;
  top:936px;
  width:257px;
  height:171px;
}
#u857 {
  position:absolute;
  left:2px;
  top:78px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u858 {
  position:absolute;
  left:727px;
  top:1118px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u859 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u860 {
  position:absolute;
  left:127px;
  top:405px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u861 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u862 {
  position:absolute;
  left:127px;
  top:438px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u863 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u864 {
  position:absolute;
  left:430px;
  top:405px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u865 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u866 {
  position:absolute;
  left:430px;
  top:438px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u867 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u868 {
  position:absolute;
  left:736px;
  top:405px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u869 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u870 {
  position:absolute;
  left:736px;
  top:438px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u872 {
  position:absolute;
  left:126px;
  top:795px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u873 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:126px;
  top:828px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u875 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u876 {
  position:absolute;
  left:429px;
  top:795px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u877 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u878 {
  position:absolute;
  left:429px;
  top:828px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u879 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u880 {
  position:absolute;
  left:735px;
  top:795px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:735px;
  top:828px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u883 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:126px;
  top:1182px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u885 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:126px;
  top:1215px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u888 {
  position:absolute;
  left:429px;
  top:1182px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u889 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u890 {
  position:absolute;
  left:429px;
  top:1215px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u891 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u892 {
  position:absolute;
  left:735px;
  top:1182px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u894 {
  position:absolute;
  left:735px;
  top:1215px;
  width:239px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u895 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u896 {
  position:absolute;
  left:24px;
  top:107px;
  width:30px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u898 {
  position:absolute;
  left:64px;
  top:107px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u899 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u900 {
  position:absolute;
  left:543px;
  top:31px;
  width:405px;
  height:35px;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u902 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u903 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u904 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u905 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u906 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u907 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u908 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
