body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:701px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:701px;
}
#u127 {
  position:absolute;
  left:2px;
  top:342px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:314px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:267px;
  top:146px;
  width:567px;
  height:314px;
}
#u129 {
  position:absolute;
  left:2px;
  top:149px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u130 {
  position:absolute;
  left:403px;
  top:196px;
  width:45px;
  height:44px;
  text-align:right;
}
#u131 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u132 {
  position:absolute;
  left:458px;
  top:196px;
  width:201px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u133 {
  position:absolute;
  left:2px;
  top:14px;
  width:197px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u134 {
  position:absolute;
  left:403px;
  top:250px;
  width:45px;
  height:44px;
  text-align:right;
}
#u135 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u136 {
  position:absolute;
  left:458px;
  top:250px;
  width:201px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u137 {
  position:absolute;
  left:2px;
  top:14px;
  width:197px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u138 {
  position:absolute;
  left:403px;
  top:304px;
  width:45px;
  height:44px;
  text-align:right;
}
#u139 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u140 {
  position:absolute;
  left:458px;
  top:304px;
  width:201px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u141 {
  position:absolute;
  left:2px;
  top:14px;
  width:197px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u142 {
  position:absolute;
  left:669px;
  top:257px;
  width:30px;
  height:30px;
}
#u143 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_ann {
  position:absolute;
  left:692px;
  top:253px;
  width:1px;
  height:1px;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u144 {
  position:absolute;
  left:662px;
  top:358px;
  width:45px;
  height:44px;
  color:#0000FF;
}
#u145 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u146 {
  position:absolute;
  left:395px;
  top:358px;
  width:62px;
  height:44px;
  color:#0000FF;
}
#u147 {
  position:absolute;
  left:2px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  position:absolute;
  left:507px;
  top:402px;
  width:104px;
  height:44px;
}
#u149 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
