body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u8063 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u8064 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
}
#u8065 {
  position:absolute;
  left:339px;
  top:48px;
  width:56px;
  height:28px;
}
#u8066 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u8067 {
  position:absolute;
  left:172px;
  top:43px;
  width:71px;
  height:36px;
  font-size:16px;
  color:#F2F2F2;
}
#u8068 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:39px;
}
#u8069 {
  position:absolute;
  left:181px;
  top:531px;
  width:54px;
  height:39px;
  font-size:16px;
  color:#F2F2F2;
}
#u8070 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  word-wrap:break-word;
}
