body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1269px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4989 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:1269px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:626px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4991 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4993 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u4994 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:1063px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4995 {
  position:absolute;
  left:195px;
  top:83px;
  width:710px;
  height:1063px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4996 {
  position:absolute;
  left:2px;
  top:524px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4997 {
  position:absolute;
  left:305px;
  top:97px;
  width:105px;
  height:555px;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u4999 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5000 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5001 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5002 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5003 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5004 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5005 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5006 {
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5007 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5008 {
  position:absolute;
  left:0px;
  top:250px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5009 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5010 {
  position:absolute;
  left:0px;
  top:300px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5011 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:350px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5013 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5014 {
  position:absolute;
  left:0px;
  top:400px;
  width:100px;
  height:100px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5015 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5016 {
  position:absolute;
  left:0px;
  top:500px;
  width:100px;
  height:50px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5017 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5018 {
  position:absolute;
  left:405px;
  top:153px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5019 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5018_ann {
  position:absolute;
  left:778px;
  top:149px;
  width:1px;
  height:1px;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5020 {
  position:absolute;
  left:405px;
  top:203px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5021 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5020_ann {
  position:absolute;
  left:778px;
  top:199px;
  width:1px;
  height:1px;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5022 {
  position:absolute;
  left:405px;
  top:501px;
  width:380px;
  height:92px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5023 {
  position:absolute;
  left:2px;
  top:36px;
  width:376px;
  word-wrap:break-word;
}
#u5024 {
  position:absolute;
  left:305px;
  top:674px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u5024_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5024_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5025 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  height:100px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_ann {
  position:absolute;
  left:399px;
  top:670px;
  width:1px;
  height:1px;
}
#u5029 {
  position:absolute;
  left:416px;
  top:674px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u5029_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5029_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5030 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u5032 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u5033 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5034 {
  position:absolute;
  left:527px;
  top:674px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u5034_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5034_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5035 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:67px;
}
#u5037 {
  position:absolute;
  left:0px;
  top:18px;
  width:100px;
  height:67px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039 {
  position:absolute;
  left:638px;
  top:674px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u5039_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5039_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5040 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5042 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  height:100px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044 {
  position:absolute;
  left:749px;
  top:674px;
  width:101px;
  height:103px;
  overflow:hidden;
}
#u5044_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:103px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5044_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5045 {
  position:absolute;
  left:0px;
  top:1px;
  width:101px;
  height:102px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:43px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5047 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  height:100px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u5049 {
  position:absolute;
  left:679px;
  top:1058px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u5050 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5051 {
  position:absolute;
  left:788px;
  top:1058px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5052 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5053 {
  position:absolute;
  left:405px;
  top:102px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5054 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5053_ann {
  position:absolute;
  left:778px;
  top:98px;
  width:1px;
  height:1px;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5055 {
  position:absolute;
  left:748px;
  top:158px;
  width:30px;
  height:30px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5057 {
  position:absolute;
  left:748px;
  top:208px;
  width:30px;
  height:30px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5059 {
  position:absolute;
  left:405px;
  top:253px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5060 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5059_ann {
  position:absolute;
  left:778px;
  top:249px;
  width:1px;
  height:1px;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5061 {
  position:absolute;
  left:748px;
  top:258px;
  width:30px;
  height:30px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5063 {
  position:absolute;
  left:405px;
  top:303px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5064 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5065 {
  position:absolute;
  left:405px;
  top:353px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5066 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5067 {
  position:absolute;
  left:405px;
  top:402px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5068 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5069 {
  position:absolute;
  left:405px;
  top:451px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5070 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5071 {
  position:absolute;
  left:405px;
  top:838px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5072 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5071_ann {
  position:absolute;
  left:778px;
  top:834px;
  width:1px;
  height:1px;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5073 {
  position:absolute;
  left:748px;
  top:843px;
  width:30px;
  height:30px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5075 {
  position:absolute;
  left:305px;
  top:838px;
  width:74px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5076 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5077 {
  position:absolute;
  left:405px;
  top:888px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5078 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5077_ann {
  position:absolute;
  left:778px;
  top:884px;
  width:1px;
  height:1px;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5079 {
  position:absolute;
  left:305px;
  top:888px;
  width:74px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5080 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5081 {
  position:absolute;
  left:405px;
  top:938px;
  width:380px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5082 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u5081_ann {
  position:absolute;
  left:778px;
  top:934px;
  width:1px;
  height:1px;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5083 {
  position:absolute;
  left:305px;
  top:938px;
  width:74px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5084 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
