body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:91px;
}
#u2242 {
  position:absolute;
  left:2px;
  top:38px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u2243 {
  position:absolute;
  left:24px;
  top:31px;
  width:140px;
  height:29px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245 {
  position:absolute;
  left:543px;
  top:31px;
  width:405px;
  height:35px;
}
#u2246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2246 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2247 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2248 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2249 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2250 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2251 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2252 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u2253 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:654px;
}
#u2254 {
  position:absolute;
  left:0px;
  top:93px;
  width:1362px;
  height:654px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:319px;
  width:1358px;
  visibility:hidden;
  word-wrap:break-word;
}
