body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7489 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u7490 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u7491 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u7492 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u7491_ann {
  position:absolute;
  left:317px;
  top:1px;
  width:1px;
  height:1px;
}
#u7493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1159px;
  height:308px;
}
#u7493 {
  position:absolute;
  left:24px;
  top:77px;
  width:1159px;
  height:308px;
}
#u7494 {
  position:absolute;
  left:2px;
  top:146px;
  width:1155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7495 {
  position:absolute;
  left:24px;
  top:77px;
  width:73px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
