body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1102px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6877 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6879 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u6880 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u6881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6881 {
  position:absolute;
  left:24px;
  top:125px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6882 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6883 {
  position:absolute;
  left:30px;
  top:133px;
  width:25px;
  height:25px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6885 {
  position:absolute;
  left:134px;
  top:75px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6886 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6887 {
  position:absolute;
  left:264px;
  top:125px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6888 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6889 {
  position:absolute;
  left:270px;
  top:133px;
  width:25px;
  height:25px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6891 {
  position:absolute;
  left:456px;
  top:131px;
  width:30px;
  height:30px;
}
#u6892 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6893 {
  position:absolute;
  left:504px;
  top:125px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6894 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6895 {
  position:absolute;
  left:510px;
  top:133px;
  width:25px;
  height:25px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6897 {
  position:absolute;
  left:25px;
  top:75px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6898 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6899 {
  position:absolute;
  left:122px;
  top:614px;
  width:35px;
  height:35px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6901 {
  position:absolute;
  left:252px;
  top:609px;
  width:88px;
  height:45px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u6903 {
  position:absolute;
  left:157px;
  top:632px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u6903_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u6903_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6903_seg2 {
  position:absolute;
  left:82px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6904 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6905 {
  position:absolute;
  left:252px;
  top:704px;
  width:88px;
  height:45px;
}
#u6906 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6907 {
  position:absolute;
  left:398px;
  top:704px;
  width:88px;
  height:45px;
}
#u6908 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u6909 {
  position:absolute;
  left:296px;
  top:654px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u6909_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u6909_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6909_seg2 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u6910 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911 {
  position:absolute;
  left:398px;
  top:727px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u6911_seg0 {
  position:absolute;
  left:-58px;
  top:-4px;
  width:62px;
  height:8px;
}
#u6911_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6911_seg2 {
  position:absolute;
  left:-65px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6912 {
  position:absolute;
  left:-79px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913 {
  position:absolute;
  left:296px;
  top:749px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u6913_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u6913_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:154px;
  height:8px;
}
#u6913_seg2 {
  position:absolute;
  left:142px;
  top:0px;
  width:8px;
  height:44px;
}
#u6913_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6913_seg4 {
  position:absolute;
  left:136px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6914 {
  position:absolute;
  left:23px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6915 {
  position:absolute;
  left:398px;
  top:609px;
  width:88px;
  height:45px;
}
#u6916 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u6917 {
  position:absolute;
  left:340px;
  top:632px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u6917_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u6917_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6917_seg2 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6918 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:408px;
}
#u6919 {
  position:absolute;
  left:24px;
  top:175px;
  width:1044px;
  height:408px;
}
#u6920 {
  position:absolute;
  left:2px;
  top:196px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921 {
  position:absolute;
  left:971px;
  top:211px;
  width:39px;
  height:372px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6921_ann {
  position:absolute;
  left:1003px;
  top:207px;
  width:1px;
  height:1px;
}
#u6922 {
  position:absolute;
  left:1011px;
  top:211px;
  width:39px;
  height:372px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6922_ann {
  position:absolute;
  left:1043px;
  top:207px;
  width:1px;
  height:1px;
}
#u6923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:821px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:821px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:402px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6925 {
  position:absolute;
  left:252px;
  top:149px;
  width:669px;
  height:441px;
}
#u6926 {
  position:absolute;
  left:2px;
  top:212px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6927 {
  position:absolute;
  left:884px;
  top:157px;
  width:30px;
  height:30px;
}
#u6928 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:379px;
}
#u6929 {
  position:absolute;
  left:319px;
  top:190px;
  width:535px;
  height:379px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:182px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
