body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7263 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u7264 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u7265 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u7266 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u7267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u7267 {
  position:absolute;
  left:144px;
  top:67px;
  width:70px;
  height:70px;
}
#u7268 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u7269 {
  position:absolute;
  left:523px;
  top:67px;
  width:70px;
  height:70px;
}
#u7270 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u7271 {
  position:absolute;
  left:883px;
  top:67px;
  width:70px;
  height:70px;
}
#u7272 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:666px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7273 {
  position:absolute;
  left:87px;
  top:166px;
  width:922px;
  height:666px;
}
#u7274 {
  position:absolute;
  left:2px;
  top:325px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7275 {
  position:absolute;
  left:214px;
  top:102px;
  width:0px;
  height:0px;
}
#u7275_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:313px;
  height:8px;
}
#u7275_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u7275_seg2 {
  position:absolute;
  left:296px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7276 {
  position:absolute;
  left:104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7277 {
  position:absolute;
  left:593px;
  top:102px;
  width:0px;
  height:0px;
}
#u7277_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:294px;
  height:8px;
}
#u7277_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u7277_seg2 {
  position:absolute;
  left:277px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7278 {
  position:absolute;
  left:95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u7279 {
  position:absolute;
  left:115px;
  top:249px;
  width:400px;
  height:471px;
  color:#999999;
  text-align:left;
}
#u7280 {
  position:absolute;
  left:2px;
  top:228px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:471px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u7281 {
  position:absolute;
  left:581px;
  top:249px;
  width:400px;
  height:471px;
  color:#999999;
  text-align:left;
}
#u7282 {
  position:absolute;
  left:2px;
  top:228px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7283 {
  position:absolute;
  left:115px;
  top:253px;
  width:400px;
  height:464px;
  overflow:hidden;
}
#u7283_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:464px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u7283_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:616px;
}
#u7284 {
  position:absolute;
  left:80px;
  top:-26px;
  width:206px;
  height:616px;
}
#u7285 {
  position:absolute;
  left:2px;
  top:300px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7286 {
  position:absolute;
  left:523px;
  top:424px;
  width:50px;
  height:50px;
}
#u7287 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7288 {
  position:absolute;
  left:523px;
  top:474px;
  width:50px;
  height:50px;
}
#u7289 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u7290 {
  position:absolute;
  left:115px;
  top:183px;
  width:400px;
  height:50px;
  color:#999999;
  text-align:left;
}
#u7291 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u7290_ann {
  position:absolute;
  left:508px;
  top:179px;
  width:1px;
  height:1px;
}
#u7292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:341px;
}
#u7292 {
  position:absolute;
  left:689px;
  top:253px;
  width:226px;
  height:341px;
}
#u7293 {
  position:absolute;
  left:2px;
  top:162px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u7294 {
  position:absolute;
  left:553px;
  top:768px;
  width:126px;
  height:44px;
  color:#1E1E1E;
}
#u7295 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u7296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u7296 {
  position:absolute;
  left:417px;
  top:768px;
  width:126px;
  height:44px;
  color:#1E1E1E;
}
#u7297 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
