body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1078px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:499px;
}
#u6373 {
  position:absolute;
  left:7px;
  top:71px;
  width:1070px;
  height:499px;
}
#u6374 {
  position:absolute;
  left:2px;
  top:242px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6375 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u6376 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6377 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u6378 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u6379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
}
#u6379 {
  position:absolute;
  left:144px;
  top:71px;
  width:170px;
  height:35px;
}
#u6380 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6381 {
  position:absolute;
  left:7px;
  top:71px;
  width:88px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:43px;
}
#u6382 {
  position:absolute;
  left:215px;
  top:181px;
  width:132px;
  height:43px;
}
#u6383 {
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:48px;
}
#u6384 {
  position:absolute;
  left:350px;
  top:250px;
  width:230px;
  height:48px;
}
#u6385 {
  position:absolute;
  left:2px;
  top:16px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:43px;
}
#u6386 {
  position:absolute;
  left:673px;
  top:187px;
  width:244px;
  height:43px;
}
#u6387 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:612px;
}
#u6388 {
  position:absolute;
  left:6px;
  top:570px;
  width:1072px;
  height:612px;
}
#u6389 {
  position:absolute;
  left:2px;
  top:298px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6390 {
  position:absolute;
  left:917px;
  top:187px;
  width:107px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:485px;
}
#u6391 {
  position:absolute;
  left:145px;
  top:211px;
  width:689px;
  height:485px;
}
#u6392 {
  position:absolute;
  left:2px;
  top:234px;
  width:685px;
  visibility:hidden;
  word-wrap:break-word;
}
