body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7982 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1101px;
  height:50px;
}
#u7983 {
  position:absolute;
  left:2px;
  top:17px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 185, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7984 {
  position:absolute;
  left:7px;
  top:6px;
  width:9px;
  height:36px;
}
#u7985 {
  position:absolute;
  left:2px;
  top:10px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7986 {
  position:absolute;
  left:26px;
  top:15px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7987 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:586px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7988 {
  position:absolute;
  left:26px;
  top:180px;
  width:1040px;
  height:586px;
}
#u7989 {
  position:absolute;
  left:2px;
  top:285px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7990 {
  position:absolute;
  left:82px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7991 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u7992_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u7992 {
  position:absolute;
  left:142px;
  top:99px;
  width:237px;
  height:2px;
}
#u7993 {
  position:absolute;
  left:2px;
  top:-7px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7994 {
  position:absolute;
  left:380px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7995 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7996 {
  position:absolute;
  left:680px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7997 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u7998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u7998 {
  position:absolute;
  left:84px;
  top:139px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u7999 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u8000 {
  position:absolute;
  left:385px;
  top:139px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u8001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u8002 {
  position:absolute;
  left:682px;
  top:138px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u8003 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8004_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u8004 {
  position:absolute;
  left:440px;
  top:98px;
  width:237px;
  height:2px;
}
#u8005 {
  position:absolute;
  left:2px;
  top:-7px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8006 {
  position:absolute;
  left:984px;
  top:69px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8007 {
  position:absolute;
  left:2px;
  top:19px;
  width:56px;
  word-wrap:break-word;
}
#u8008_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:5px;
}
#u8008 {
  position:absolute;
  left:744px;
  top:98px;
  width:237px;
  height:2px;
}
#u8009 {
  position:absolute;
  left:2px;
  top:-7px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B9F2;
}
#u8010 {
  position:absolute;
  left:986px;
  top:139px;
  width:57px;
  height:16px;
  color:#00B9F2;
}
#u8011 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8012 {
  position:absolute;
  left:294px;
  top:208px;
  width:148px;
  height:53px;
  text-align:right;
}
#u8013 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u8014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8014 {
  position:absolute;
  left:294px;
  top:286px;
  width:148px;
  height:53px;
  text-align:right;
}
#u8015 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u8016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8016 {
  position:absolute;
  left:442px;
  top:286px;
  width:374px;
  height:53px;
  text-align:right;
}
#u8017 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018 {
  position:absolute;
  left:442px;
  top:286px;
  width:374px;
  height:53px;
}
#u8018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8018_input {
  font-family:'微软雅黑';
}
#u8018_input:disabled {
  color:grayText;
}
#u8019 {
  position:absolute;
  left:442px;
  top:208px;
  width:374px;
  height:53px;
}
#u8019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8019_input {
  font-family:'微软雅黑';
}
#u8019_input:disabled {
  color:grayText;
}
#u8020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8020 {
  position:absolute;
  left:294px;
  top:349px;
  width:148px;
  height:53px;
  text-align:right;
}
#u8021 {
  position:absolute;
  left:2px;
  top:18px;
  width:144px;
  word-wrap:break-word;
}
#u8020_ann {
  position:absolute;
  left:435px;
  top:345px;
  width:1px;
  height:1px;
}
#u8022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:326px;
}
#u8022 {
  position:absolute;
  left:49px;
  top:412px;
  width:325px;
  height:326px;
}
#u8023 {
  position:absolute;
  left:2px;
  top:155px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:326px;
}
#u8024 {
  position:absolute;
  left:384px;
  top:412px;
  width:325px;
  height:326px;
}
#u8025 {
  position:absolute;
  left:2px;
  top:155px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:326px;
}
#u8026 {
  position:absolute;
  left:718px;
  top:412px;
  width:325px;
  height:326px;
}
#u8027 {
  position:absolute;
  left:2px;
  top:155px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8028 {
  position:absolute;
  left:417px;
  top:801px;
  width:131px;
  height:45px;
}
#u8029 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u8030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8030 {
  position:absolute;
  left:570px;
  top:801px;
  width:131px;
  height:45px;
}
#u8031 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u8032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:875px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8032 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1101px;
  height:875px;
}
#u8033 {
  position:absolute;
  left:2px;
  top:430px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:618px;
}
#u8034 {
  position:absolute;
  left:391px;
  top:-10px;
  width:318px;
  height:618px;
}
#u8035 {
  position:absolute;
  left:2px;
  top:301px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8036 {
  position:absolute;
  left:766px;
  top:22px;
  width:50px;
  height:50px;
}
#u8037 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
