body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:364px;
}
#u2720 {
  position:absolute;
  left:8px;
  top:0px;
  width:364px;
  height:364px;
}
#u2721 {
  position:absolute;
  left:2px;
  top:174px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
