body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5664 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u5665 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5666 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u5667 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u5666_ann {
  position:absolute;
  left:317px;
  top:1px;
  width:1px;
  height:1px;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5668 {
  position:absolute;
  left:24px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5669 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5670 {
  position:absolute;
  left:30px;
  top:96px;
  width:25px;
  height:25px;
}
#u5671 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5672 {
  position:absolute;
  left:264px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5673 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5674 {
  position:absolute;
  left:270px;
  top:96px;
  width:25px;
  height:25px;
}
#u5675 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5676 {
  position:absolute;
  left:504px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5677 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5676_ann {
  position:absolute;
  left:727px;
  top:84px;
  width:1px;
  height:1px;
}
#u5678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5678 {
  position:absolute;
  left:510px;
  top:97px;
  width:25px;
  height:25px;
}
#u5679 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5680 {
  position:absolute;
  left:216px;
  top:94px;
  width:30px;
  height:30px;
}
#u5681 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5682 {
  position:absolute;
  left:744px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5683 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5682_ann {
  position:absolute;
  left:967px;
  top:84px;
  width:1px;
  height:1px;
}
#u5684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5684 {
  position:absolute;
  left:750px;
  top:96px;
  width:25px;
  height:25px;
}
#u5685 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5686 {
  position:absolute;
  left:702px;
  top:96px;
  width:25px;
  height:25px;
}
#u5687 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5688 {
  position:absolute;
  left:941px;
  top:96px;
  width:25px;
  height:25px;
}
#u5689 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:364px;
}
#u5690 {
  position:absolute;
  left:23px;
  top:149px;
  width:1117px;
  height:364px;
}
#u5691 {
  position:absolute;
  left:2px;
  top:174px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:626px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5692 {
  position:absolute;
  left:0px;
  top:-3px;
  width:1155px;
  height:626px;
}
#u5693 {
  position:absolute;
  left:2px;
  top:305px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:389px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5694 {
  position:absolute;
  left:252px;
  top:73px;
  width:651px;
  height:389px;
}
#u5695 {
  position:absolute;
  left:2px;
  top:186px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5696 {
  position:absolute;
  left:263px;
  top:81px;
  width:7px;
  height:47px;
}
#u5697 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5698 {
  position:absolute;
  left:280px;
  top:81px;
  width:300px;
  height:47px;
  font-size:16px;
  text-align:left;
}
#u5699 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u5700 {
  position:absolute;
  left:659px;
  top:391px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#666666;
}
#u5701 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5702 {
  position:absolute;
  left:768px;
  top:391px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5703 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:105px;
}
#u5704 {
  position:absolute;
  left:412px;
  top:181px;
  width:339px;
  height:105px;
}
#u5705 {
  position:absolute;
  left:2px;
  top:44px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
