body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7739 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u7740 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u7741 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u7742 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u7743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:463px;
}
#u7743 {
  position:absolute;
  left:24px;
  top:61px;
  width:1147px;
  height:463px;
}
#u7744 {
  position:absolute;
  left:2px;
  top:224px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7745 {
  position:absolute;
  left:29px;
  top:68px;
  width:67px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
