body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:918px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4186 {
  position:absolute;
  left:23px;
  top:9px;
  width:30px;
  height:30px;
}
#u4187 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u4188 {
  position:absolute;
  left:63px;
  top:9px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u4189 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u4190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:570px;
}
#u4190 {
  position:absolute;
  left:156px;
  top:64px;
  width:762px;
  height:570px;
}
#u4191 {
  position:absolute;
  left:2px;
  top:277px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4192 {
  position:absolute;
  left:23px;
  top:68px;
  width:123px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4193 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u4192_ann {
  position:absolute;
  left:139px;
  top:64px;
  width:1px;
  height:1px;
}
#u4194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4194 {
  position:absolute;
  left:23px;
  top:118px;
  width:123px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4195 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
