body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5681 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u5682 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5683 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u5684 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u5683_ann {
  position:absolute;
  left:317px;
  top:1px;
  width:1px;
  height:1px;
}
#u5685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5685 {
  position:absolute;
  left:24px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5686 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5687 {
  position:absolute;
  left:30px;
  top:96px;
  width:25px;
  height:25px;
}
#u5688 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5689 {
  position:absolute;
  left:264px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5690 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5691 {
  position:absolute;
  left:270px;
  top:96px;
  width:25px;
  height:25px;
}
#u5692 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5693 {
  position:absolute;
  left:504px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5694 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5693_ann {
  position:absolute;
  left:727px;
  top:84px;
  width:1px;
  height:1px;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5695 {
  position:absolute;
  left:510px;
  top:97px;
  width:25px;
  height:25px;
}
#u5696 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5697 {
  position:absolute;
  left:216px;
  top:94px;
  width:30px;
  height:30px;
}
#u5698 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5699 {
  position:absolute;
  left:744px;
  top:88px;
  width:230px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u5700 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u5699_ann {
  position:absolute;
  left:967px;
  top:84px;
  width:1px;
  height:1px;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5701 {
  position:absolute;
  left:750px;
  top:96px;
  width:25px;
  height:25px;
}
#u5702 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5703 {
  position:absolute;
  left:702px;
  top:96px;
  width:25px;
  height:25px;
}
#u5704 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5705 {
  position:absolute;
  left:941px;
  top:96px;
  width:25px;
  height:25px;
}
#u5706 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:364px;
}
#u5707 {
  position:absolute;
  left:23px;
  top:149px;
  width:1117px;
  height:364px;
}
#u5708 {
  position:absolute;
  left:2px;
  top:174px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:626px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5709 {
  position:absolute;
  left:0px;
  top:-3px;
  width:1155px;
  height:626px;
}
#u5710 {
  position:absolute;
  left:2px;
  top:305px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5711 {
  position:absolute;
  left:252px;
  top:73px;
  width:651px;
  height:440px;
}
#u5712 {
  position:absolute;
  left:2px;
  top:212px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5713 {
  position:absolute;
  left:263px;
  top:81px;
  width:7px;
  height:47px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:16px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u5715 {
  position:absolute;
  left:280px;
  top:81px;
  width:300px;
  height:47px;
  font-size:16px;
  text-align:left;
}
#u5716 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u5717 {
  position:absolute;
  left:279px;
  top:143px;
  width:598px;
  height:343px;
  overflow:hidden;
}
#u5717_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:343px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5717_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:180px;
}
#u5718 {
  position:absolute;
  left:92px;
  top:36px;
  width:381px;
  height:180px;
}
#u5719 {
  position:absolute;
  left:2px;
  top:82px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5720 {
  position:absolute;
  left:233px;
  top:240px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5721 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5717_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:343px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5717_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5722 {
  position:absolute;
  left:19px;
  top:22px;
  width:97px;
  height:48px;
  color:#999999;
  text-align:left;
}
#u5723 {
  position:absolute;
  left:2px;
  top:16px;
  width:93px;
  word-wrap:break-word;
}
#u5722_ann {
  position:absolute;
  left:109px;
  top:18px;
  width:1px;
  height:1px;
}
#u5724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5724 {
  position:absolute;
  left:80px;
  top:31px;
  width:30px;
  height:30px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:left;
}
#u5726 {
  position:absolute;
  left:526px;
  top:22px;
  width:31px;
  height:48px;
  color:#0000FF;
  text-align:left;
}
#u5727 {
  position:absolute;
  left:2px;
  top:16px;
  width:27px;
  word-wrap:break-word;
}
#u5728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5728 {
  position:absolute;
  left:132px;
  top:22px;
  width:300px;
  height:48px;
  color:#999999;
  text-align:left;
}
#u5729 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u5730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5730 {
  position:absolute;
  left:442px;
  top:22px;
  width:55px;
  height:48px;
  color:#999999;
}
#u5731 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u5732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u5732 {
  position:absolute;
  left:498px;
  top:22px;
  width:31px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u5733 {
  position:absolute;
  left:2px;
  top:16px;
  width:27px;
  word-wrap:break-word;
}
#u5734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5734 {
  position:absolute;
  left:298px;
  top:232px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u5735 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u5736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u5736 {
  position:absolute;
  left:189px;
  top:232px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#999999;
}
#u5737 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
