body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4265 {
  position:absolute;
  left:0px;
  top:5px;
  width:1271px;
  height:1192px;
}
#u4266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:45px;
}
#u4266 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:45px;
}
#u4267 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u4268 {
  position:absolute;
  left:30px;
  top:0px;
  width:298px;
  height:45px;
}
#u4269 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u4270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u4270 {
  position:absolute;
  left:328px;
  top:0px;
  width:298px;
  height:45px;
}
#u4271 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u4272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
}
#u4272 {
  position:absolute;
  left:626px;
  top:0px;
  width:196px;
  height:45px;
}
#u4273 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  word-wrap:break-word;
}
#u4274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u4274 {
  position:absolute;
  left:822px;
  top:0px;
  width:205px;
  height:45px;
}
#u4275 {
  position:absolute;
  left:2px;
  top:14px;
  width:201px;
  word-wrap:break-word;
}
#u4276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:45px;
}
#u4276 {
  position:absolute;
  left:1027px;
  top:0px;
  width:239px;
  height:45px;
}
#u4277 {
  position:absolute;
  left:2px;
  top:14px;
  width:235px;
  word-wrap:break-word;
}
#u4278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:222px;
}
#u4278 {
  position:absolute;
  left:0px;
  top:45px;
  width:30px;
  height:222px;
  font-size:16px;
}
#u4279 {
  position:absolute;
  left:2px;
  top:73px;
  width:26px;
  word-wrap:break-word;
}
#u4280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u4280 {
  position:absolute;
  left:30px;
  top:45px;
  width:298px;
  height:222px;
}
#u4281 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u4282 {
  position:absolute;
  left:328px;
  top:45px;
  width:298px;
  height:222px;
}
#u4283 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:222px;
}
#u4284 {
  position:absolute;
  left:626px;
  top:45px;
  width:196px;
  height:222px;
}
#u4285 {
  position:absolute;
  left:2px;
  top:103px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:222px;
}
#u4286 {
  position:absolute;
  left:822px;
  top:45px;
  width:205px;
  height:222px;
}
#u4287 {
  position:absolute;
  left:2px;
  top:103px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:222px;
}
#u4288 {
  position:absolute;
  left:1027px;
  top:45px;
  width:239px;
  height:222px;
}
#u4289 {
  position:absolute;
  left:2px;
  top:103px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:232px;
}
#u4290 {
  position:absolute;
  left:0px;
  top:267px;
  width:30px;
  height:232px;
  font-size:16px;
}
#u4291 {
  position:absolute;
  left:2px;
  top:78px;
  width:26px;
  word-wrap:break-word;
}
#u4292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u4292 {
  position:absolute;
  left:30px;
  top:267px;
  width:298px;
  height:232px;
}
#u4293 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u4294 {
  position:absolute;
  left:328px;
  top:267px;
  width:298px;
  height:232px;
}
#u4295 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:232px;
}
#u4296 {
  position:absolute;
  left:626px;
  top:267px;
  width:196px;
  height:232px;
}
#u4297 {
  position:absolute;
  left:2px;
  top:108px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:232px;
}
#u4298 {
  position:absolute;
  left:822px;
  top:267px;
  width:205px;
  height:232px;
}
#u4299 {
  position:absolute;
  left:2px;
  top:108px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:232px;
}
#u4300 {
  position:absolute;
  left:1027px;
  top:267px;
  width:239px;
  height:232px;
}
#u4301 {
  position:absolute;
  left:2px;
  top:108px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:154px;
}
#u4302 {
  position:absolute;
  left:0px;
  top:499px;
  width:30px;
  height:154px;
  font-size:16px;
}
#u4303 {
  position:absolute;
  left:2px;
  top:39px;
  width:26px;
  word-wrap:break-word;
}
#u4304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4304 {
  position:absolute;
  left:30px;
  top:499px;
  width:298px;
  height:154px;
}
#u4305 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4306 {
  position:absolute;
  left:328px;
  top:499px;
  width:298px;
  height:154px;
}
#u4307 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:154px;
}
#u4308 {
  position:absolute;
  left:626px;
  top:499px;
  width:196px;
  height:154px;
}
#u4309 {
  position:absolute;
  left:2px;
  top:69px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:154px;
}
#u4310 {
  position:absolute;
  left:822px;
  top:499px;
  width:205px;
  height:154px;
}
#u4311 {
  position:absolute;
  left:2px;
  top:69px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:154px;
}
#u4312 {
  position:absolute;
  left:1027px;
  top:499px;
  width:239px;
  height:154px;
}
#u4313 {
  position:absolute;
  left:2px;
  top:69px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:226px;
}
#u4314 {
  position:absolute;
  left:0px;
  top:653px;
  width:30px;
  height:226px;
  font-size:16px;
}
#u4315 {
  position:absolute;
  left:2px;
  top:75px;
  width:26px;
  word-wrap:break-word;
}
#u4316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:226px;
}
#u4316 {
  position:absolute;
  left:30px;
  top:653px;
  width:298px;
  height:226px;
}
#u4317 {
  position:absolute;
  left:2px;
  top:105px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:226px;
}
#u4318 {
  position:absolute;
  left:328px;
  top:653px;
  width:298px;
  height:226px;
}
#u4319 {
  position:absolute;
  left:2px;
  top:105px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:226px;
}
#u4320 {
  position:absolute;
  left:626px;
  top:653px;
  width:196px;
  height:226px;
}
#u4321 {
  position:absolute;
  left:2px;
  top:105px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:226px;
}
#u4322 {
  position:absolute;
  left:822px;
  top:653px;
  width:205px;
  height:226px;
}
#u4323 {
  position:absolute;
  left:2px;
  top:105px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:226px;
}
#u4324 {
  position:absolute;
  left:1027px;
  top:653px;
  width:239px;
  height:226px;
}
#u4325 {
  position:absolute;
  left:2px;
  top:105px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:154px;
}
#u4326 {
  position:absolute;
  left:0px;
  top:879px;
  width:30px;
  height:154px;
  font-size:16px;
}
#u4327 {
  position:absolute;
  left:2px;
  top:39px;
  width:26px;
  word-wrap:break-word;
}
#u4328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4328 {
  position:absolute;
  left:30px;
  top:879px;
  width:298px;
  height:154px;
}
#u4329 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4330 {
  position:absolute;
  left:328px;
  top:879px;
  width:298px;
  height:154px;
}
#u4331 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:154px;
}
#u4332 {
  position:absolute;
  left:626px;
  top:879px;
  width:196px;
  height:154px;
}
#u4333 {
  position:absolute;
  left:2px;
  top:69px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:154px;
}
#u4334 {
  position:absolute;
  left:822px;
  top:879px;
  width:205px;
  height:154px;
}
#u4335 {
  position:absolute;
  left:2px;
  top:69px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:154px;
}
#u4336 {
  position:absolute;
  left:1027px;
  top:879px;
  width:239px;
  height:154px;
}
#u4337 {
  position:absolute;
  left:2px;
  top:69px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:154px;
}
#u4338 {
  position:absolute;
  left:0px;
  top:1033px;
  width:30px;
  height:154px;
  font-size:16px;
}
#u4339 {
  position:absolute;
  left:2px;
  top:39px;
  width:26px;
  word-wrap:break-word;
}
#u4340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4340 {
  position:absolute;
  left:30px;
  top:1033px;
  width:298px;
  height:154px;
}
#u4341 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4342 {
  position:absolute;
  left:328px;
  top:1033px;
  width:298px;
  height:154px;
}
#u4343 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:154px;
}
#u4344 {
  position:absolute;
  left:626px;
  top:1033px;
  width:196px;
  height:154px;
}
#u4345 {
  position:absolute;
  left:2px;
  top:69px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:154px;
}
#u4346 {
  position:absolute;
  left:822px;
  top:1033px;
  width:205px;
  height:154px;
}
#u4347 {
  position:absolute;
  left:2px;
  top:69px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:154px;
}
#u4348 {
  position:absolute;
  left:1027px;
  top:1033px;
  width:239px;
  height:154px;
}
#u4349 {
  position:absolute;
  left:2px;
  top:69px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4350 {
  position:absolute;
  left:125px;
  top:187px;
  width:100px;
  height:60px;
}
#u4351 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4352 {
  position:absolute;
  left:427px;
  top:538px;
  width:100px;
  height:60px;
}
#u4353 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4354 {
  position:absolute;
  left:354px;
  top:743px;
  width:100px;
  height:60px;
}
#u4355 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4356 {
  position:absolute;
  left:225px;
  top:217px;
  width:0px;
  height:0px;
}
#u4356_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:406px;
  height:8px;
}
#u4356_seg1 {
  position:absolute;
  left:398px;
  top:-4px;
  width:8px;
  height:138px;
}
#u4356_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4356_seg3 {
  position:absolute;
  left:392px;
  top:121px;
  width:20px;
  height:20px;
}
#u4357 {
  position:absolute;
  left:218px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4358 {
  position:absolute;
  left:477px;
  top:538px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4358_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u4358_seg1 {
  position:absolute;
  left:-5px;
  top:-176px;
  width:8px;
  height:180px;
}
#u4358_seg2 {
  position:absolute;
  left:-5px;
  top:-176px;
  width:140px;
  height:8px;
}
#u4358_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4358_seg4 {
  position:absolute;
  left:122px;
  top:-182px;
  width:20px;
  height:20px;
}
#u4359 {
  position:absolute;
  left:-51px;
  top:-162px;
  width:100px;
  word-wrap:break-word;
}
#u4360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4360 {
  position:absolute;
  left:612px;
  top:351px;
  width:30px;
  height:30px;
}
#u4361 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4362 {
  position:absolute;
  left:694px;
  top:285px;
  width:100px;
  height:60px;
}
#u4363 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4364 {
  position:absolute;
  left:694px;
  top:418px;
  width:100px;
  height:60px;
}
#u4365 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4366 {
  position:absolute;
  left:642px;
  top:366px;
  width:0px;
  height:0px;
}
#u4366_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u4366_seg1 {
  position:absolute;
  left:34px;
  top:-55px;
  width:8px;
  height:59px;
}
#u4366_seg2 {
  position:absolute;
  left:34px;
  top:-55px;
  width:18px;
  height:8px;
}
#u4366_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4366_seg4 {
  position:absolute;
  left:39px;
  top:-61px;
  width:20px;
  height:20px;
}
#u4367 {
  position:absolute;
  left:-12px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4368 {
  position:absolute;
  left:642px;
  top:366px;
  width:0px;
  height:0px;
}
#u4368_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u4368_seg1 {
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:90px;
}
#u4368_seg2 {
  position:absolute;
  left:34px;
  top:78px;
  width:18px;
  height:8px;
}
#u4368_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4368_seg4 {
  position:absolute;
  left:39px;
  top:72px;
  width:20px;
  height:20px;
}
#u4369 {
  position:absolute;
  left:-12px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4370 {
  position:absolute;
  left:744px;
  top:478px;
  width:0px;
  height:0px;
}
#u4370_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u4370_seg1 {
  position:absolute;
  left:-217px;
  top:86px;
  width:221px;
  height:8px;
}
#u4370_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4370_seg3 {
  position:absolute;
  left:-224px;
  top:80px;
  width:20px;
  height:20px;
}
#u4371 {
  position:absolute;
  left:-114px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4372 {
  position:absolute;
  left:518px;
  top:683px;
  width:100px;
  height:60px;
}
#u4373 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4374 {
  position:absolute;
  left:518px;
  top:783px;
  width:100px;
  height:60px;
}
#u4375 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4376 {
  position:absolute;
  left:215px;
  top:1115px;
  width:100px;
  height:60px;
}
#u4377 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4378 {
  position:absolute;
  left:160px;
  top:94px;
  width:30px;
  height:30px;
}
#u4379 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4380 {
  position:absolute;
  left:175px;
  top:124px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4380_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u4380_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4380_seg2 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u4381 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u4382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4382 {
  position:absolute;
  left:660px;
  top:79px;
  width:100px;
  height:60px;
}
#u4383 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4384 {
  position:absolute;
  left:190px;
  top:109px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4384_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:474px;
  height:8px;
}
#u4384_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4384_seg2 {
  position:absolute;
  left:457px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4385 {
  position:absolute;
  left:185px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4386 {
  position:absolute;
  left:710px;
  top:139px;
  width:0px;
  height:0px;
}
#u4386_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u4386_seg1 {
  position:absolute;
  left:-87px;
  top:76px;
  width:91px;
  height:8px;
}
#u4386_seg2 {
  position:absolute;
  left:-87px;
  top:76px;
  width:8px;
  height:136px;
}
#u4386_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4386_seg4 {
  position:absolute;
  left:-93px;
  top:199px;
  width:20px;
  height:20px;
}
#u4387 {
  position:absolute;
  left:-118px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4388 {
  position:absolute;
  left:518px;
  top:918px;
  width:100px;
  height:60px;
}
#u4389 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4390 {
  position:absolute;
  left:354px;
  top:773px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4390_seg0 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u4390_seg1 {
  position:absolute;
  left:-18px;
  top:-411px;
  width:8px;
  height:415px;
}
#u4390_seg2 {
  position:absolute;
  left:-18px;
  top:-411px;
  width:276px;
  height:8px;
}
#u4390_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4390_seg4 {
  position:absolute;
  left:245px;
  top:-417px;
  width:20px;
  height:20px;
}
#u4391 {
  position:absolute;
  left:-64px;
  top:-340px;
  width:100px;
  word-wrap:break-word;
}
#u4392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4392 {
  position:absolute;
  left:51px;
  top:1078px;
  width:100px;
  height:60px;
}
#u4393 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4394 {
  position:absolute;
  left:215px;
  top:1045px;
  width:100px;
  height:60px;
}
#u4395 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4396 {
  position:absolute;
  left:151px;
  top:1108px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u4396_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u4396_seg1 {
  position:absolute;
  left:45px;
  top:-37px;
  width:8px;
  height:41px;
}
#u4396_seg2 {
  position:absolute;
  left:45px;
  top:-37px;
  width:19px;
  height:8px;
}
#u4396_seg3 {
  position:absolute;
  left:51px;
  top:-43px;
  width:20px;
  height:20px;
}
#u4397 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4398 {
  position:absolute;
  left:354px;
  top:918px;
  width:100px;
  height:60px;
}
#u4399 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4400 {
  position:absolute;
  left:454px;
  top:948px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u4400_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u4400_seg1 {
  position:absolute;
  left:51px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4401 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4402 {
  position:absolute;
  left:477px;
  top:598px;
  width:0px;
  height:0px;
}
#u4402_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u4402_seg1 {
  position:absolute;
  left:-77px;
  top:45px;
  width:81px;
  height:8px;
}
#u4402_seg2 {
  position:absolute;
  left:-77px;
  top:45px;
  width:8px;
  height:100px;
}
#u4402_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4402_seg4 {
  position:absolute;
  left:-83px;
  top:132px;
  width:20px;
  height:20px;
}
#u4403 {
  position:absolute;
  left:-110px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4404 {
  position:absolute;
  left:454px;
  top:773px;
  width:0px;
  height:0px;
}
#u4404_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u4404_seg1 {
  position:absolute;
  left:42px;
  top:-64px;
  width:8px;
  height:68px;
}
#u4404_seg2 {
  position:absolute;
  left:42px;
  top:-64px;
  width:22px;
  height:8px;
}
#u4404_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4404_seg4 {
  position:absolute;
  left:51px;
  top:-70px;
  width:20px;
  height:20px;
}
#u4405 {
  position:absolute;
  left:-4px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4406 {
  position:absolute;
  left:454px;
  top:773px;
  width:0px;
  height:0px;
}
#u4406_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u4406_seg1 {
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:48px;
}
#u4406_seg2 {
  position:absolute;
  left:42px;
  top:36px;
  width:22px;
  height:8px;
}
#u4406_seg3 {
  position:absolute;
  left:51px;
  top:30px;
  width:20px;
  height:20px;
}
#u4407 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4408 {
  position:absolute;
  left:404px;
  top:803px;
  width:0px;
  height:0px;
}
#u4408_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:119px;
}
#u4408_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4408_seg2 {
  position:absolute;
  left:-10px;
  top:102px;
  width:20px;
  height:20px;
}
#u4409 {
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4410 {
  position:absolute;
  left:404px;
  top:978px;
  width:0px;
  height:0px;
}
#u4410_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u4410_seg1 {
  position:absolute;
  left:-307px;
  top:48px;
  width:311px;
  height:8px;
}
#u4410_seg2 {
  position:absolute;
  left:-307px;
  top:48px;
  width:8px;
  height:52px;
}
#u4410_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4410_seg4 {
  position:absolute;
  left:-313px;
  top:87px;
  width:20px;
  height:20px;
}
#u4411 {
  position:absolute;
  left:-200px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4412 {
  position:absolute;
  left:151px;
  top:1108px;
  width:0px;
  height:0px;
}
#u4412_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u4412_seg1 {
  position:absolute;
  left:45px;
  top:-4px;
  width:8px;
  height:45px;
}
#u4412_seg2 {
  position:absolute;
  left:45px;
  top:33px;
  width:19px;
  height:8px;
}
#u4412_seg3 {
  position:absolute;
  left:51px;
  top:27px;
  width:20px;
  height:20px;
}
#u4413 {
  position:absolute;
  left:-1px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4414 {
  position:absolute;
  left:919px;
  top:127px;
  width:100px;
  height:60px;
}
#u4415 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4416 {
  position:absolute;
  left:828px;
  top:410px;
  width:100px;
  height:60px;
}
#u4417 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4418 {
  position:absolute;
  left:1081px;
  top:410px;
  width:100px;
  height:60px;
}
#u4419 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4420 {
  position:absolute;
  left:1081px;
  top:538px;
  width:100px;
  height:60px;
}
#u4421 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4422 {
  position:absolute;
  left:1124px;
  top:683px;
  width:100px;
  height:60px;
}
#u4423 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4424 {
  position:absolute;
  left:1035px;
  top:802px;
  width:100px;
  height:60px;
}
#u4425 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4426 {
  position:absolute;
  left:1124px;
  top:918px;
  width:100px;
  height:60px;
}
#u4427 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4428 {
  position:absolute;
  left:1131px;
  top:470px;
  width:0px;
  height:0px;
}
#u4428_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u4428_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4428_seg2 {
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u4429 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4430 {
  position:absolute;
  left:1131px;
  top:598px;
  width:0px;
  height:0px;
}
#u4430_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u4430_seg1 {
  position:absolute;
  left:-4px;
  top:40px;
  width:51px;
  height:8px;
}
#u4430_seg2 {
  position:absolute;
  left:39px;
  top:40px;
  width:8px;
  height:45px;
}
#u4430_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4430_seg4 {
  position:absolute;
  left:33px;
  top:72px;
  width:20px;
  height:20px;
}
#u4431 {
  position:absolute;
  left:-30px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4432 {
  position:absolute;
  left:1124px;
  top:713px;
  width:0px;
  height:0px;
}
#u4432_seg0 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u4432_seg1 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:8px;
  height:93px;
}
#u4432_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4432_seg3 {
  position:absolute;
  left:-49px;
  top:76px;
  width:20px;
  height:20px;
}
#u4433 {
  position:absolute;
  left:-89px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4434 {
  position:absolute;
  left:1174px;
  top:743px;
  width:0px;
  height:0px;
}
#u4434_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:179px;
}
#u4434_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4434_seg2 {
  position:absolute;
  left:-10px;
  top:162px;
  width:20px;
  height:20px;
}
#u4435 {
  position:absolute;
  left:-50px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4436 {
  position:absolute;
  left:1035px;
  top:1090px;
  width:100px;
  height:60px;
}
#u4437 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4438 {
  position:absolute;
  left:1174px;
  top:978px;
  width:0px;
  height:0px;
}
#u4438_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u4438_seg1 {
  position:absolute;
  left:-93px;
  top:33px;
  width:97px;
  height:8px;
}
#u4438_seg2 {
  position:absolute;
  left:-93px;
  top:33px;
  width:8px;
  height:79px;
}
#u4438_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4438_seg4 {
  position:absolute;
  left:-99px;
  top:99px;
  width:20px;
  height:20px;
}
#u4439 {
  position:absolute;
  left:-114px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4440 {
  position:absolute;
  left:969px;
  top:187px;
  width:0px;
  height:0px;
}
#u4440_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:181px;
}
#u4440_seg1 {
  position:absolute;
  left:-95px;
  top:173px;
  width:99px;
  height:8px;
}
#u4440_seg2 {
  position:absolute;
  left:-95px;
  top:173px;
  width:8px;
  height:50px;
}
#u4440_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4440_seg4 {
  position:absolute;
  left:-101px;
  top:210px;
  width:20px;
  height:20px;
}
#u4441 {
  position:absolute;
  left:-50px;
  top:149px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4442 {
  position:absolute;
  left:902px;
  top:802px;
  width:100px;
  height:60px;
}
#u4443 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4444 {
  position:absolute;
  left:1081px;
  top:440px;
  width:0px;
  height:0px;
}
#u4444_seg0 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u4444_seg1 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:8px;
  height:283px;
}
#u4444_seg2 {
  position:absolute;
  left:-15px;
  top:271px;
  width:23px;
  height:8px;
}
#u4444_seg3 {
  position:absolute;
  left:0px;
  top:271px;
  width:8px;
  height:91px;
}
#u4444_seg4 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4444_seg5 {
  position:absolute;
  left:-6px;
  top:349px;
  width:20px;
  height:20px;
}
#u4445 {
  position:absolute;
  left:-61px;
  top:175px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4446 {
  position:absolute;
  left:1035px;
  top:832px;
  width:0px;
  height:0px;
}
#u4446_seg0 {
  position:absolute;
  left:-33px;
  top:-4px;
  width:37px;
  height:8px;
}
#u4446_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4446_seg2 {
  position:absolute;
  left:-40px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4447 {
  position:absolute;
  left:-66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4448 {
  position:absolute;
  left:828px;
  top:1090px;
  width:100px;
  height:60px;
}
#u4449 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4450 {
  position:absolute;
  left:1035px;
  top:1120px;
  width:0px;
  height:0px;
}
#u4450_seg0 {
  position:absolute;
  left:-107px;
  top:-4px;
  width:111px;
  height:8px;
}
#u4450_seg1 {
  position:absolute;
  left:-114px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4451 {
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4452 {
  position:absolute;
  left:878px;
  top:470px;
  width:0px;
  height:0px;
}
#u4452_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:366px;
}
#u4452_seg1 {
  position:absolute;
  left:-4px;
  top:358px;
  width:28px;
  height:8px;
}
#u4452_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4452_seg3 {
  position:absolute;
  left:11px;
  top:352px;
  width:20px;
  height:20px;
}
#u4453 {
  position:absolute;
  left:-50px;
  top:185px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4454 {
  position:absolute;
  left:878px;
  top:470px;
  width:0px;
  height:0px;
}
#u4454_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:624px;
}
#u4454_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4454_seg2 {
  position:absolute;
  left:-10px;
  top:607px;
  width:20px;
  height:20px;
}
#u4455 {
  position:absolute;
  left:-50px;
  top:302px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4456 {
  position:absolute;
  left:744px;
  top:345px;
  width:0px;
  height:0px;
}
#u4456_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u4456_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4456_seg2 {
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u4457 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4458 {
  position:absolute;
  left:828px;
  top:285px;
  width:100px;
  height:60px;
}
#u4459 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4460 {
  position:absolute;
  left:919px;
  top:157px;
  width:0px;
  height:0px;
}
#u4460_seg0 {
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u4460_seg1 {
  position:absolute;
  left:-45px;
  top:-4px;
  width:8px;
  height:132px;
}
#u4460_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4460_seg3 {
  position:absolute;
  left:-51px;
  top:115px;
  width:20px;
  height:20px;
}
#u4461 {
  position:absolute;
  left:-91px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4462 {
  position:absolute;
  left:878px;
  top:345px;
  width:0px;
  height:0px;
}
#u4462_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u4462_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4462_seg2 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u4463 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4464 {
  position:absolute;
  left:51px;
  top:1108px;
  width:0px;
  height:0px;
}
#u4464_seg0 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u4464_seg1 {
  position:absolute;
  left:-15px;
  top:-164px;
  width:8px;
  height:168px;
}
#u4464_seg2 {
  position:absolute;
  left:-15px;
  top:-164px;
  width:318px;
  height:8px;
}
#u4464_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4464_seg4 {
  position:absolute;
  left:290px;
  top:-170px;
  width:20px;
  height:20px;
}
#u4465 {
  position:absolute;
  left:10px;
  top:-168px;
  width:100px;
  word-wrap:break-word;
}
#u4466 {
  position:absolute;
  left:1224px;
  top:948px;
  width:0px;
  height:0px;
}
#u4466_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u4466_seg1 {
  position:absolute;
  left:12px;
  top:-239px;
  width:8px;
  height:243px;
}
#u4466_seg2 {
  position:absolute;
  left:0px;
  top:-239px;
  width:20px;
  height:8px;
}
#u4466_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4466_seg4 {
  position:absolute;
  left:-7px;
  top:-245px;
  width:20px;
  height:20px;
}
#u4467 {
  position:absolute;
  left:-34px;
  top:-126px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468 {
  position:absolute;
  left:952px;
  top:802px;
  width:0px;
  height:0px;
}
#u4468_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u4468_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:16px;
  height:8px;
}
#u4468_seg2 {
  position:absolute;
  left:4px;
  top:-406px;
  width:8px;
  height:400px;
}
#u4468_seg3 {
  position:absolute;
  left:-78px;
  top:-406px;
  width:90px;
  height:8px;
}
#u4468_seg4 {
  position:absolute;
  left:-78px;
  top:-406px;
  width:8px;
  height:14px;
}
#u4468_seg5 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u4468_seg6 {
  position:absolute;
  left:-84px;
  top:-405px;
  width:20px;
  height:20px;
}
#u4469 {
  position:absolute;
  left:-42px;
  top:-251px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4470 {
  position:absolute;
  left:952px;
  top:802px;
  width:0px;
  height:0px;
}
#u4470_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u4470_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:16px;
  height:8px;
}
#u4470_seg2 {
  position:absolute;
  left:4px;
  top:-491px;
  width:8px;
  height:485px;
}
#u4470_seg3 {
  position:absolute;
  left:-24px;
  top:-491px;
  width:36px;
  height:8px;
}
#u4470_seg4 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u4470_seg5 {
  position:absolute;
  left:-31px;
  top:-497px;
  width:20px;
  height:20px;
}
#u4471 {
  position:absolute;
  left:-42px;
  top:-280px;
  width:100px;
  word-wrap:break-word;
}
