body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1038px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3208 {
  position:absolute;
  left:23px;
  top:9px;
  width:30px;
  height:30px;
}
#u3209 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u3210 {
  position:absolute;
  left:63px;
  top:9px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u3211 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u3212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3212 {
  position:absolute;
  left:23px;
  top:73px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u3213 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u3214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3214 {
  position:absolute;
  left:29px;
  top:81px;
  width:25px;
  height:25px;
}
#u3215 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u3216 {
  position:absolute;
  left:295px;
  top:76px;
  width:74px;
  height:34px;
  color:#0099FF;
}
#u3217 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  word-wrap:break-word;
}
#u3218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3218 {
  position:absolute;
  left:369px;
  top:78px;
  width:30px;
  height:30px;
}
#u3219 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3220 {
  position:absolute;
  left:399px;
  top:76px;
  width:74px;
  height:34px;
  color:#999999;
}
#u3221 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  word-wrap:break-word;
}
#u3222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:364px;
}
#u3222 {
  position:absolute;
  left:23px;
  top:130px;
  width:1015px;
  height:364px;
}
#u3223 {
  position:absolute;
  left:2px;
  top:174px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
