body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4370 {
  position:absolute;
  left:0px;
  top:5px;
  width:1482px;
  height:1220px;
}
#u4371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:45px;
}
#u4371 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:45px;
}
#u4372 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u4373 {
  position:absolute;
  left:30px;
  top:0px;
  width:298px;
  height:45px;
}
#u4374 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u4375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u4375 {
  position:absolute;
  left:328px;
  top:0px;
  width:298px;
  height:45px;
}
#u4376 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u4377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
}
#u4377 {
  position:absolute;
  left:626px;
  top:0px;
  width:196px;
  height:45px;
}
#u4378 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  word-wrap:break-word;
}
#u4379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u4379 {
  position:absolute;
  left:822px;
  top:0px;
  width:205px;
  height:45px;
}
#u4380 {
  position:absolute;
  left:2px;
  top:14px;
  width:201px;
  word-wrap:break-word;
}
#u4381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u4381 {
  position:absolute;
  left:1027px;
  top:0px;
  width:219px;
  height:45px;
}
#u4382 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u4383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:45px;
}
#u4383 {
  position:absolute;
  left:1246px;
  top:0px;
  width:231px;
  height:45px;
}
#u4384 {
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u4385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:222px;
}
#u4385 {
  position:absolute;
  left:0px;
  top:45px;
  width:30px;
  height:222px;
  font-size:16px;
}
#u4386 {
  position:absolute;
  left:2px;
  top:73px;
  width:26px;
  word-wrap:break-word;
}
#u4387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u4387 {
  position:absolute;
  left:30px;
  top:45px;
  width:298px;
  height:222px;
}
#u4388 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u4389 {
  position:absolute;
  left:328px;
  top:45px;
  width:298px;
  height:222px;
}
#u4390 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:222px;
}
#u4391 {
  position:absolute;
  left:626px;
  top:45px;
  width:196px;
  height:222px;
}
#u4392 {
  position:absolute;
  left:2px;
  top:103px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:222px;
}
#u4393 {
  position:absolute;
  left:822px;
  top:45px;
  width:205px;
  height:222px;
}
#u4394 {
  position:absolute;
  left:2px;
  top:103px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:222px;
}
#u4395 {
  position:absolute;
  left:1027px;
  top:45px;
  width:219px;
  height:222px;
}
#u4396 {
  position:absolute;
  left:2px;
  top:103px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:222px;
}
#u4397 {
  position:absolute;
  left:1246px;
  top:45px;
  width:231px;
  height:222px;
}
#u4398 {
  position:absolute;
  left:2px;
  top:103px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:232px;
}
#u4399 {
  position:absolute;
  left:0px;
  top:267px;
  width:30px;
  height:232px;
  font-size:16px;
}
#u4400 {
  position:absolute;
  left:2px;
  top:78px;
  width:26px;
  word-wrap:break-word;
}
#u4401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u4401 {
  position:absolute;
  left:30px;
  top:267px;
  width:298px;
  height:232px;
}
#u4402 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u4403 {
  position:absolute;
  left:328px;
  top:267px;
  width:298px;
  height:232px;
}
#u4404 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:232px;
}
#u4405 {
  position:absolute;
  left:626px;
  top:267px;
  width:196px;
  height:232px;
}
#u4406 {
  position:absolute;
  left:2px;
  top:108px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:232px;
}
#u4407 {
  position:absolute;
  left:822px;
  top:267px;
  width:205px;
  height:232px;
}
#u4408 {
  position:absolute;
  left:2px;
  top:108px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:232px;
}
#u4409 {
  position:absolute;
  left:1027px;
  top:267px;
  width:219px;
  height:232px;
}
#u4410 {
  position:absolute;
  left:2px;
  top:108px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:232px;
}
#u4411 {
  position:absolute;
  left:1246px;
  top:267px;
  width:231px;
  height:232px;
}
#u4412 {
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:154px;
}
#u4413 {
  position:absolute;
  left:0px;
  top:499px;
  width:30px;
  height:154px;
  font-size:16px;
}
#u4414 {
  position:absolute;
  left:2px;
  top:39px;
  width:26px;
  word-wrap:break-word;
}
#u4415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4415 {
  position:absolute;
  left:30px;
  top:499px;
  width:298px;
  height:154px;
}
#u4416 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4417 {
  position:absolute;
  left:328px;
  top:499px;
  width:298px;
  height:154px;
}
#u4418 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:154px;
}
#u4419 {
  position:absolute;
  left:626px;
  top:499px;
  width:196px;
  height:154px;
}
#u4420 {
  position:absolute;
  left:2px;
  top:69px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:154px;
}
#u4421 {
  position:absolute;
  left:822px;
  top:499px;
  width:205px;
  height:154px;
}
#u4422 {
  position:absolute;
  left:2px;
  top:69px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:154px;
}
#u4423 {
  position:absolute;
  left:1027px;
  top:499px;
  width:219px;
  height:154px;
}
#u4424 {
  position:absolute;
  left:2px;
  top:69px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:154px;
}
#u4425 {
  position:absolute;
  left:1246px;
  top:499px;
  width:231px;
  height:154px;
}
#u4426 {
  position:absolute;
  left:2px;
  top:69px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:226px;
}
#u4427 {
  position:absolute;
  left:0px;
  top:653px;
  width:30px;
  height:226px;
  font-size:16px;
}
#u4428 {
  position:absolute;
  left:2px;
  top:75px;
  width:26px;
  word-wrap:break-word;
}
#u4429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:226px;
}
#u4429 {
  position:absolute;
  left:30px;
  top:653px;
  width:298px;
  height:226px;
}
#u4430 {
  position:absolute;
  left:2px;
  top:105px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:226px;
}
#u4431 {
  position:absolute;
  left:328px;
  top:653px;
  width:298px;
  height:226px;
}
#u4432 {
  position:absolute;
  left:2px;
  top:105px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:226px;
}
#u4433 {
  position:absolute;
  left:626px;
  top:653px;
  width:196px;
  height:226px;
}
#u4434 {
  position:absolute;
  left:2px;
  top:105px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:226px;
}
#u4435 {
  position:absolute;
  left:822px;
  top:653px;
  width:205px;
  height:226px;
}
#u4436 {
  position:absolute;
  left:2px;
  top:105px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:226px;
}
#u4437 {
  position:absolute;
  left:1027px;
  top:653px;
  width:219px;
  height:226px;
}
#u4438 {
  position:absolute;
  left:2px;
  top:105px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:226px;
}
#u4439 {
  position:absolute;
  left:1246px;
  top:653px;
  width:231px;
  height:226px;
}
#u4440 {
  position:absolute;
  left:2px;
  top:105px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:154px;
}
#u4441 {
  position:absolute;
  left:0px;
  top:879px;
  width:30px;
  height:154px;
  font-size:16px;
}
#u4442 {
  position:absolute;
  left:2px;
  top:39px;
  width:26px;
  word-wrap:break-word;
}
#u4443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4443 {
  position:absolute;
  left:30px;
  top:879px;
  width:298px;
  height:154px;
}
#u4444 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4445 {
  position:absolute;
  left:328px;
  top:879px;
  width:298px;
  height:154px;
}
#u4446 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:154px;
}
#u4447 {
  position:absolute;
  left:626px;
  top:879px;
  width:196px;
  height:154px;
}
#u4448 {
  position:absolute;
  left:2px;
  top:69px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:154px;
}
#u4449 {
  position:absolute;
  left:822px;
  top:879px;
  width:205px;
  height:154px;
}
#u4450 {
  position:absolute;
  left:2px;
  top:69px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:154px;
}
#u4451 {
  position:absolute;
  left:1027px;
  top:879px;
  width:219px;
  height:154px;
}
#u4452 {
  position:absolute;
  left:2px;
  top:69px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:154px;
}
#u4453 {
  position:absolute;
  left:1246px;
  top:879px;
  width:231px;
  height:154px;
}
#u4454 {
  position:absolute;
  left:2px;
  top:69px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:182px;
}
#u4455 {
  position:absolute;
  left:0px;
  top:1033px;
  width:30px;
  height:182px;
  font-size:16px;
}
#u4456 {
  position:absolute;
  left:2px;
  top:53px;
  width:26px;
  word-wrap:break-word;
}
#u4457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:182px;
}
#u4457 {
  position:absolute;
  left:30px;
  top:1033px;
  width:298px;
  height:182px;
}
#u4458 {
  position:absolute;
  left:2px;
  top:83px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:182px;
}
#u4459 {
  position:absolute;
  left:328px;
  top:1033px;
  width:298px;
  height:182px;
}
#u4460 {
  position:absolute;
  left:2px;
  top:83px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:182px;
}
#u4461 {
  position:absolute;
  left:626px;
  top:1033px;
  width:196px;
  height:182px;
}
#u4462 {
  position:absolute;
  left:2px;
  top:83px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:182px;
}
#u4463 {
  position:absolute;
  left:822px;
  top:1033px;
  width:205px;
  height:182px;
}
#u4464 {
  position:absolute;
  left:2px;
  top:83px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:182px;
}
#u4465 {
  position:absolute;
  left:1027px;
  top:1033px;
  width:219px;
  height:182px;
}
#u4466 {
  position:absolute;
  left:2px;
  top:83px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:182px;
}
#u4467 {
  position:absolute;
  left:1246px;
  top:1033px;
  width:231px;
  height:182px;
}
#u4468 {
  position:absolute;
  left:2px;
  top:83px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4469 {
  position:absolute;
  left:125px;
  top:187px;
  width:100px;
  height:60px;
}
#u4470 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4471 {
  position:absolute;
  left:427px;
  top:538px;
  width:100px;
  height:60px;
}
#u4472 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4473 {
  position:absolute;
  left:354px;
  top:743px;
  width:100px;
  height:60px;
}
#u4474 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4475 {
  position:absolute;
  left:225px;
  top:217px;
  width:0px;
  height:0px;
}
#u4475_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:406px;
  height:8px;
}
#u4475_seg1 {
  position:absolute;
  left:398px;
  top:-4px;
  width:8px;
  height:138px;
}
#u4475_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4475_seg3 {
  position:absolute;
  left:392px;
  top:121px;
  width:20px;
  height:20px;
}
#u4476 {
  position:absolute;
  left:218px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4477 {
  position:absolute;
  left:477px;
  top:538px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4477_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u4477_seg1 {
  position:absolute;
  left:-5px;
  top:-176px;
  width:8px;
  height:180px;
}
#u4477_seg2 {
  position:absolute;
  left:-5px;
  top:-176px;
  width:140px;
  height:8px;
}
#u4477_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4477_seg4 {
  position:absolute;
  left:122px;
  top:-182px;
  width:20px;
  height:20px;
}
#u4478 {
  position:absolute;
  left:-51px;
  top:-162px;
  width:100px;
  word-wrap:break-word;
}
#u4479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4479 {
  position:absolute;
  left:612px;
  top:351px;
  width:30px;
  height:30px;
}
#u4480 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4481 {
  position:absolute;
  left:694px;
  top:285px;
  width:100px;
  height:60px;
}
#u4482 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4483 {
  position:absolute;
  left:694px;
  top:418px;
  width:100px;
  height:60px;
}
#u4484 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4485 {
  position:absolute;
  left:642px;
  top:366px;
  width:0px;
  height:0px;
}
#u4485_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u4485_seg1 {
  position:absolute;
  left:34px;
  top:-55px;
  width:8px;
  height:59px;
}
#u4485_seg2 {
  position:absolute;
  left:34px;
  top:-55px;
  width:18px;
  height:8px;
}
#u4485_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4485_seg4 {
  position:absolute;
  left:39px;
  top:-61px;
  width:20px;
  height:20px;
}
#u4486 {
  position:absolute;
  left:-12px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4487 {
  position:absolute;
  left:642px;
  top:366px;
  width:0px;
  height:0px;
}
#u4487_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u4487_seg1 {
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:90px;
}
#u4487_seg2 {
  position:absolute;
  left:34px;
  top:78px;
  width:18px;
  height:8px;
}
#u4487_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4487_seg4 {
  position:absolute;
  left:39px;
  top:72px;
  width:20px;
  height:20px;
}
#u4488 {
  position:absolute;
  left:-12px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4489 {
  position:absolute;
  left:744px;
  top:478px;
  width:0px;
  height:0px;
}
#u4489_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u4489_seg1 {
  position:absolute;
  left:-217px;
  top:86px;
  width:221px;
  height:8px;
}
#u4489_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4489_seg3 {
  position:absolute;
  left:-224px;
  top:80px;
  width:20px;
  height:20px;
}
#u4490 {
  position:absolute;
  left:-114px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4491 {
  position:absolute;
  left:518px;
  top:683px;
  width:100px;
  height:60px;
}
#u4492 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4493 {
  position:absolute;
  left:518px;
  top:783px;
  width:100px;
  height:60px;
}
#u4494 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4495 {
  position:absolute;
  left:160px;
  top:94px;
  width:30px;
  height:30px;
}
#u4496 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4497 {
  position:absolute;
  left:175px;
  top:124px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4497_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u4497_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4497_seg2 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u4498 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u4499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4499 {
  position:absolute;
  left:660px;
  top:79px;
  width:100px;
  height:60px;
}
#u4500 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4501 {
  position:absolute;
  left:190px;
  top:109px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4501_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:474px;
  height:8px;
}
#u4501_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4501_seg2 {
  position:absolute;
  left:457px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4502 {
  position:absolute;
  left:185px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4503 {
  position:absolute;
  left:710px;
  top:139px;
  width:0px;
  height:0px;
}
#u4503_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u4503_seg1 {
  position:absolute;
  left:-87px;
  top:76px;
  width:91px;
  height:8px;
}
#u4503_seg2 {
  position:absolute;
  left:-87px;
  top:76px;
  width:8px;
  height:136px;
}
#u4503_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4503_seg4 {
  position:absolute;
  left:-93px;
  top:199px;
  width:20px;
  height:20px;
}
#u4504 {
  position:absolute;
  left:-118px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4505 {
  position:absolute;
  left:354px;
  top:773px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4505_seg0 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u4505_seg1 {
  position:absolute;
  left:-18px;
  top:-411px;
  width:8px;
  height:415px;
}
#u4505_seg2 {
  position:absolute;
  left:-18px;
  top:-411px;
  width:276px;
  height:8px;
}
#u4505_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4505_seg4 {
  position:absolute;
  left:245px;
  top:-417px;
  width:20px;
  height:20px;
}
#u4506 {
  position:absolute;
  left:-64px;
  top:-340px;
  width:100px;
  word-wrap:break-word;
}
#u4507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4507 {
  position:absolute;
  left:354px;
  top:898px;
  width:100px;
  height:60px;
}
#u4508 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4509 {
  position:absolute;
  left:477px;
  top:598px;
  width:0px;
  height:0px;
}
#u4509_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u4509_seg1 {
  position:absolute;
  left:-77px;
  top:68px;
  width:81px;
  height:8px;
}
#u4509_seg2 {
  position:absolute;
  left:-77px;
  top:68px;
  width:8px;
  height:77px;
}
#u4509_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4509_seg4 {
  position:absolute;
  left:-83px;
  top:132px;
  width:20px;
  height:20px;
}
#u4510 {
  position:absolute;
  left:-87px;
  top:64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4511 {
  position:absolute;
  left:454px;
  top:773px;
  width:0px;
  height:0px;
}
#u4511_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u4511_seg1 {
  position:absolute;
  left:42px;
  top:-64px;
  width:8px;
  height:68px;
}
#u4511_seg2 {
  position:absolute;
  left:42px;
  top:-64px;
  width:22px;
  height:8px;
}
#u4511_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4511_seg4 {
  position:absolute;
  left:51px;
  top:-70px;
  width:20px;
  height:20px;
}
#u4512 {
  position:absolute;
  left:-4px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4513 {
  position:absolute;
  left:454px;
  top:773px;
  width:0px;
  height:0px;
}
#u4513_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u4513_seg1 {
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:48px;
}
#u4513_seg2 {
  position:absolute;
  left:42px;
  top:36px;
  width:22px;
  height:8px;
}
#u4513_seg3 {
  position:absolute;
  left:51px;
  top:30px;
  width:20px;
  height:20px;
}
#u4514 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4515 {
  position:absolute;
  left:404px;
  top:803px;
  width:0px;
  height:0px;
}
#u4515_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u4515_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4515_seg2 {
  position:absolute;
  left:-10px;
  top:82px;
  width:20px;
  height:20px;
}
#u4516 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4517 {
  position:absolute;
  left:1140px;
  top:131px;
  width:100px;
  height:60px;
}
#u4518 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4519 {
  position:absolute;
  left:1042px;
  top:416px;
  width:100px;
  height:60px;
}
#u4520 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4521 {
  position:absolute;
  left:1295px;
  top:416px;
  width:100px;
  height:60px;
}
#u4522 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4523 {
  position:absolute;
  left:1295px;
  top:538px;
  width:100px;
  height:60px;
}
#u4524 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4525 {
  position:absolute;
  left:1316px;
  top:683px;
  width:100px;
  height:60px;
}
#u4526 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4527 {
  position:absolute;
  left:1249px;
  top:802px;
  width:100px;
  height:60px;
}
#u4528 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4529 {
  position:absolute;
  left:1316px;
  top:918px;
  width:100px;
  height:60px;
}
#u4530 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4531 {
  position:absolute;
  left:1345px;
  top:476px;
  width:0px;
  height:0px;
}
#u4531_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u4531_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4531_seg2 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u4532 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4533 {
  position:absolute;
  left:1345px;
  top:598px;
  width:0px;
  height:0px;
}
#u4533_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u4533_seg1 {
  position:absolute;
  left:-4px;
  top:68px;
  width:29px;
  height:8px;
}
#u4533_seg2 {
  position:absolute;
  left:17px;
  top:68px;
  width:8px;
  height:17px;
}
#u4533_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4533_seg4 {
  position:absolute;
  left:11px;
  top:72px;
  width:20px;
  height:20px;
}
#u4534 {
  position:absolute;
  left:-50px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4535 {
  position:absolute;
  left:1316px;
  top:713px;
  width:0px;
  height:0px;
}
#u4535_seg0 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u4535_seg1 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:8px;
  height:93px;
}
#u4535_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4535_seg3 {
  position:absolute;
  left:-27px;
  top:76px;
  width:20px;
  height:20px;
}
#u4536 {
  position:absolute;
  left:-67px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4537 {
  position:absolute;
  left:1366px;
  top:743px;
  width:0px;
  height:0px;
}
#u4537_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:179px;
}
#u4537_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4537_seg2 {
  position:absolute;
  left:-10px;
  top:162px;
  width:20px;
  height:20px;
}
#u4538 {
  position:absolute;
  left:-50px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4539 {
  position:absolute;
  left:1140px;
  top:1147px;
  width:100px;
  height:60px;
}
#u4540 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4541 {
  position:absolute;
  left:1316px;
  top:948px;
  width:0px;
  height:0px;
}
#u4541_seg0 {
  position:absolute;
  left:-228px;
  top:-4px;
  width:228px;
  height:8px;
}
#u4541_seg1 {
  position:absolute;
  left:-228px;
  top:-4px;
  width:8px;
  height:111px;
}
#u4541_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4541_seg3 {
  position:absolute;
  left:-234px;
  top:94px;
  width:20px;
  height:20px;
}
#u4542 {
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4543 {
  position:absolute;
  left:1190px;
  top:191px;
  width:0px;
  height:0px;
}
#u4543_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:182px;
}
#u4543_seg1 {
  position:absolute;
  left:-102px;
  top:174px;
  width:106px;
  height:8px;
}
#u4543_seg2 {
  position:absolute;
  left:-102px;
  top:174px;
  width:8px;
  height:51px;
}
#u4543_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4543_seg4 {
  position:absolute;
  left:-108px;
  top:212px;
  width:20px;
  height:20px;
}
#u4544 {
  position:absolute;
  left:-50px;
  top:154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4545 {
  position:absolute;
  left:1116px;
  top:802px;
  width:100px;
  height:60px;
}
#u4546 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4547 {
  position:absolute;
  left:1295px;
  top:446px;
  width:0px;
  height:0px;
}
#u4547_seg0 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u4547_seg1 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:8px;
  height:277px;
}
#u4547_seg2 {
  position:absolute;
  left:-15px;
  top:265px;
  width:23px;
  height:8px;
}
#u4547_seg3 {
  position:absolute;
  left:0px;
  top:265px;
  width:8px;
  height:91px;
}
#u4547_seg4 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4547_seg5 {
  position:absolute;
  left:-6px;
  top:343px;
  width:20px;
  height:20px;
}
#u4548 {
  position:absolute;
  left:-61px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4549 {
  position:absolute;
  left:1249px;
  top:832px;
  width:0px;
  height:0px;
}
#u4549_seg0 {
  position:absolute;
  left:-33px;
  top:-4px;
  width:37px;
  height:8px;
}
#u4549_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4549_seg2 {
  position:absolute;
  left:-40px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4550 {
  position:absolute;
  left:-66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4551 {
  position:absolute;
  left:1042px;
  top:1055px;
  width:100px;
  height:60px;
}
#u4552 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4553 {
  position:absolute;
  left:1092px;
  top:476px;
  width:0px;
  height:0px;
}
#u4553_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:360px;
}
#u4553_seg1 {
  position:absolute;
  left:-4px;
  top:352px;
  width:28px;
  height:8px;
}
#u4553_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4553_seg3 {
  position:absolute;
  left:11px;
  top:346px;
  width:20px;
  height:20px;
}
#u4554 {
  position:absolute;
  left:-50px;
  top:182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4555 {
  position:absolute;
  left:1092px;
  top:476px;
  width:0px;
  height:0px;
}
#u4555_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:583px;
}
#u4555_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4555_seg2 {
  position:absolute;
  left:-10px;
  top:566px;
  width:20px;
  height:20px;
}
#u4556 {
  position:absolute;
  left:-50px;
  top:282px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4557 {
  position:absolute;
  left:744px;
  top:345px;
  width:0px;
  height:0px;
}
#u4557_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u4557_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4557_seg2 {
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u4558 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4559 {
  position:absolute;
  left:1042px;
  top:285px;
  width:100px;
  height:60px;
}
#u4560 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4561 {
  position:absolute;
  left:1140px;
  top:161px;
  width:0px;
  height:0px;
}
#u4561_seg0 {
  position:absolute;
  left:-52px;
  top:-4px;
  width:52px;
  height:8px;
}
#u4561_seg1 {
  position:absolute;
  left:-52px;
  top:-4px;
  width:8px;
  height:128px;
}
#u4561_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4561_seg3 {
  position:absolute;
  left:-58px;
  top:111px;
  width:20px;
  height:20px;
}
#u4562 {
  position:absolute;
  left:-98px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4563 {
  position:absolute;
  left:1092px;
  top:345px;
  width:0px;
  height:0px;
}
#u4563_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u4563_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4563_seg2 {
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u4564 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4565 {
  position:absolute;
  left:843px;
  top:1055px;
  width:100px;
  height:60px;
}
#u4566 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4567 {
  position:absolute;
  left:454px;
  top:928px;
  width:0px;
  height:0px;
}
#u4567_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:220px;
  height:8px;
}
#u4567_seg1 {
  position:absolute;
  left:212px;
  top:-4px;
  width:8px;
  height:165px;
}
#u4567_seg2 {
  position:absolute;
  left:212px;
  top:153px;
  width:177px;
  height:8px;
}
#u4567_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4567_seg4 {
  position:absolute;
  left:376px;
  top:147px;
  width:20px;
  height:20px;
}
#u4568 {
  position:absolute;
  left:166px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4569 {
  position:absolute;
  left:893px;
  top:1055px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u4569_seg0 {
  position:absolute;
  left:-4px;
  top:-389px;
  width:8px;
  height:389px;
}
#u4569_seg1 {
  position:absolute;
  left:-493px;
  top:-389px;
  width:497px;
  height:8px;
}
#u4569_seg2 {
  position:absolute;
  left:-493px;
  top:-389px;
  width:8px;
  height:77px;
}
#u4569_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u4569_seg4 {
  position:absolute;
  left:-499px;
  top:-325px;
  width:20px;
  height:20px;
}
#u4570 {
  position:absolute;
  left:-138px;
  top:-393px;
  width:100px;
  word-wrap:break-word;
}
#u4571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4571 {
  position:absolute;
  left:925px;
  top:1147px;
  width:100px;
  height:60px;
}
#u4572 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4573 {
  position:absolute;
  left:893px;
  top:1115px;
  width:0px;
  height:0px;
}
#u4573_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u4573_seg1 {
  position:absolute;
  left:-4px;
  top:58px;
  width:36px;
  height:8px;
}
#u4573_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4573_seg3 {
  position:absolute;
  left:19px;
  top:52px;
  width:20px;
  height:20px;
}
#u4574 {
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4575 {
  position:absolute;
  left:1142px;
  top:1085px;
  width:0px;
  height:0px;
}
#u4575_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:292px;
  height:8px;
}
#u4575_seg1 {
  position:absolute;
  left:284px;
  top:-376px;
  width:8px;
  height:380px;
}
#u4575_seg2 {
  position:absolute;
  left:274px;
  top:-376px;
  width:18px;
  height:8px;
}
#u4575_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4575_seg4 {
  position:absolute;
  left:267px;
  top:-382px;
  width:20px;
  height:20px;
}
#u4576 {
  position:absolute;
  left:238px;
  top:-65px;
  width:100px;
  word-wrap:break-word;
}
#u4577 {
  position:absolute;
  left:1166px;
  top:802px;
  width:0px;
  height:0px;
}
#u4577_seg0 {
  position:absolute;
  left:-4px;
  top:-360px;
  width:8px;
  height:360px;
}
#u4577_seg1 {
  position:absolute;
  left:-24px;
  top:-360px;
  width:28px;
  height:8px;
}
#u4577_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u4577_seg3 {
  position:absolute;
  left:-31px;
  top:-366px;
  width:20px;
  height:20px;
}
#u4578 {
  position:absolute;
  left:-50px;
  top:-198px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4579 {
  position:absolute;
  left:1166px;
  top:802px;
  width:0px;
  height:0px;
}
#u4579_seg0 {
  position:absolute;
  left:-4px;
  top:-491px;
  width:8px;
  height:491px;
}
#u4579_seg1 {
  position:absolute;
  left:-24px;
  top:-491px;
  width:28px;
  height:8px;
}
#u4579_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u4579_seg3 {
  position:absolute;
  left:-31px;
  top:-497px;
  width:20px;
  height:20px;
}
#u4580 {
  position:absolute;
  left:-50px;
  top:-264px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4581 {
  position:absolute;
  left:501px;
  top:970px;
  width:100px;
  height:60px;
}
#u4582 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4583 {
  position:absolute;
  left:404px;
  top:958px;
  width:0px;
  height:0px;
}
#u4583_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u4583_seg1 {
  position:absolute;
  left:-4px;
  top:38px;
  width:101px;
  height:8px;
}
#u4583_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4583_seg3 {
  position:absolute;
  left:84px;
  top:32px;
  width:20px;
  height:20px;
}
#u4584 {
  position:absolute;
  left:-22px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4585 {
  position:absolute;
  left:1092px;
  top:1115px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u4585_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u4585_seg1 {
  position:absolute;
  left:-4px;
  top:58px;
  width:52px;
  height:8px;
}
#u4585_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4585_seg3 {
  position:absolute;
  left:35px;
  top:52px;
  width:20px;
  height:20px;
}
#u4586 {
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
