body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4259 {
  position:absolute;
  left:0px;
  top:5px;
  width:1482px;
  height:1220px;
}
#u4260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:45px;
}
#u4260 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:45px;
}
#u4261 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u4262 {
  position:absolute;
  left:30px;
  top:0px;
  width:298px;
  height:45px;
}
#u4263 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u4264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u4264 {
  position:absolute;
  left:328px;
  top:0px;
  width:298px;
  height:45px;
}
#u4265 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  word-wrap:break-word;
}
#u4266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
}
#u4266 {
  position:absolute;
  left:626px;
  top:0px;
  width:196px;
  height:45px;
}
#u4267 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  word-wrap:break-word;
}
#u4268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u4268 {
  position:absolute;
  left:822px;
  top:0px;
  width:205px;
  height:45px;
}
#u4269 {
  position:absolute;
  left:2px;
  top:14px;
  width:201px;
  word-wrap:break-word;
}
#u4270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u4270 {
  position:absolute;
  left:1027px;
  top:0px;
  width:219px;
  height:45px;
}
#u4271 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u4272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:45px;
}
#u4272 {
  position:absolute;
  left:1246px;
  top:0px;
  width:231px;
  height:45px;
}
#u4273 {
  position:absolute;
  left:2px;
  top:14px;
  width:227px;
  word-wrap:break-word;
}
#u4274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:222px;
}
#u4274 {
  position:absolute;
  left:0px;
  top:45px;
  width:30px;
  height:222px;
  font-size:16px;
}
#u4275 {
  position:absolute;
  left:2px;
  top:73px;
  width:26px;
  word-wrap:break-word;
}
#u4276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u4276 {
  position:absolute;
  left:30px;
  top:45px;
  width:298px;
  height:222px;
}
#u4277 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:222px;
}
#u4278 {
  position:absolute;
  left:328px;
  top:45px;
  width:298px;
  height:222px;
}
#u4279 {
  position:absolute;
  left:2px;
  top:103px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:222px;
}
#u4280 {
  position:absolute;
  left:626px;
  top:45px;
  width:196px;
  height:222px;
}
#u4281 {
  position:absolute;
  left:2px;
  top:103px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:222px;
}
#u4282 {
  position:absolute;
  left:822px;
  top:45px;
  width:205px;
  height:222px;
}
#u4283 {
  position:absolute;
  left:2px;
  top:103px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:222px;
}
#u4284 {
  position:absolute;
  left:1027px;
  top:45px;
  width:219px;
  height:222px;
}
#u4285 {
  position:absolute;
  left:2px;
  top:103px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:222px;
}
#u4286 {
  position:absolute;
  left:1246px;
  top:45px;
  width:231px;
  height:222px;
}
#u4287 {
  position:absolute;
  left:2px;
  top:103px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:232px;
}
#u4288 {
  position:absolute;
  left:0px;
  top:267px;
  width:30px;
  height:232px;
  font-size:16px;
}
#u4289 {
  position:absolute;
  left:2px;
  top:78px;
  width:26px;
  word-wrap:break-word;
}
#u4290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u4290 {
  position:absolute;
  left:30px;
  top:267px;
  width:298px;
  height:232px;
}
#u4291 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:232px;
}
#u4292 {
  position:absolute;
  left:328px;
  top:267px;
  width:298px;
  height:232px;
}
#u4293 {
  position:absolute;
  left:2px;
  top:108px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:232px;
}
#u4294 {
  position:absolute;
  left:626px;
  top:267px;
  width:196px;
  height:232px;
}
#u4295 {
  position:absolute;
  left:2px;
  top:108px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:232px;
}
#u4296 {
  position:absolute;
  left:822px;
  top:267px;
  width:205px;
  height:232px;
}
#u4297 {
  position:absolute;
  left:2px;
  top:108px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:232px;
}
#u4298 {
  position:absolute;
  left:1027px;
  top:267px;
  width:219px;
  height:232px;
}
#u4299 {
  position:absolute;
  left:2px;
  top:108px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:232px;
}
#u4300 {
  position:absolute;
  left:1246px;
  top:267px;
  width:231px;
  height:232px;
}
#u4301 {
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:154px;
}
#u4302 {
  position:absolute;
  left:0px;
  top:499px;
  width:30px;
  height:154px;
  font-size:16px;
}
#u4303 {
  position:absolute;
  left:2px;
  top:39px;
  width:26px;
  word-wrap:break-word;
}
#u4304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4304 {
  position:absolute;
  left:30px;
  top:499px;
  width:298px;
  height:154px;
}
#u4305 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4306 {
  position:absolute;
  left:328px;
  top:499px;
  width:298px;
  height:154px;
}
#u4307 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:154px;
}
#u4308 {
  position:absolute;
  left:626px;
  top:499px;
  width:196px;
  height:154px;
}
#u4309 {
  position:absolute;
  left:2px;
  top:69px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:154px;
}
#u4310 {
  position:absolute;
  left:822px;
  top:499px;
  width:205px;
  height:154px;
}
#u4311 {
  position:absolute;
  left:2px;
  top:69px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:154px;
}
#u4312 {
  position:absolute;
  left:1027px;
  top:499px;
  width:219px;
  height:154px;
}
#u4313 {
  position:absolute;
  left:2px;
  top:69px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:154px;
}
#u4314 {
  position:absolute;
  left:1246px;
  top:499px;
  width:231px;
  height:154px;
}
#u4315 {
  position:absolute;
  left:2px;
  top:69px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:226px;
}
#u4316 {
  position:absolute;
  left:0px;
  top:653px;
  width:30px;
  height:226px;
  font-size:16px;
}
#u4317 {
  position:absolute;
  left:2px;
  top:75px;
  width:26px;
  word-wrap:break-word;
}
#u4318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:226px;
}
#u4318 {
  position:absolute;
  left:30px;
  top:653px;
  width:298px;
  height:226px;
}
#u4319 {
  position:absolute;
  left:2px;
  top:105px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:226px;
}
#u4320 {
  position:absolute;
  left:328px;
  top:653px;
  width:298px;
  height:226px;
}
#u4321 {
  position:absolute;
  left:2px;
  top:105px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:226px;
}
#u4322 {
  position:absolute;
  left:626px;
  top:653px;
  width:196px;
  height:226px;
}
#u4323 {
  position:absolute;
  left:2px;
  top:105px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:226px;
}
#u4324 {
  position:absolute;
  left:822px;
  top:653px;
  width:205px;
  height:226px;
}
#u4325 {
  position:absolute;
  left:2px;
  top:105px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:226px;
}
#u4326 {
  position:absolute;
  left:1027px;
  top:653px;
  width:219px;
  height:226px;
}
#u4327 {
  position:absolute;
  left:2px;
  top:105px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:226px;
}
#u4328 {
  position:absolute;
  left:1246px;
  top:653px;
  width:231px;
  height:226px;
}
#u4329 {
  position:absolute;
  left:2px;
  top:105px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:154px;
}
#u4330 {
  position:absolute;
  left:0px;
  top:879px;
  width:30px;
  height:154px;
  font-size:16px;
}
#u4331 {
  position:absolute;
  left:2px;
  top:39px;
  width:26px;
  word-wrap:break-word;
}
#u4332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4332 {
  position:absolute;
  left:30px;
  top:879px;
  width:298px;
  height:154px;
}
#u4333 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:154px;
}
#u4334 {
  position:absolute;
  left:328px;
  top:879px;
  width:298px;
  height:154px;
}
#u4335 {
  position:absolute;
  left:2px;
  top:69px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:154px;
}
#u4336 {
  position:absolute;
  left:626px;
  top:879px;
  width:196px;
  height:154px;
}
#u4337 {
  position:absolute;
  left:2px;
  top:69px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:154px;
}
#u4338 {
  position:absolute;
  left:822px;
  top:879px;
  width:205px;
  height:154px;
}
#u4339 {
  position:absolute;
  left:2px;
  top:69px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:154px;
}
#u4340 {
  position:absolute;
  left:1027px;
  top:879px;
  width:219px;
  height:154px;
}
#u4341 {
  position:absolute;
  left:2px;
  top:69px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:154px;
}
#u4342 {
  position:absolute;
  left:1246px;
  top:879px;
  width:231px;
  height:154px;
}
#u4343 {
  position:absolute;
  left:2px;
  top:69px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:182px;
}
#u4344 {
  position:absolute;
  left:0px;
  top:1033px;
  width:30px;
  height:182px;
  font-size:16px;
}
#u4345 {
  position:absolute;
  left:2px;
  top:53px;
  width:26px;
  word-wrap:break-word;
}
#u4346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:182px;
}
#u4346 {
  position:absolute;
  left:30px;
  top:1033px;
  width:298px;
  height:182px;
}
#u4347 {
  position:absolute;
  left:2px;
  top:83px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:182px;
}
#u4348 {
  position:absolute;
  left:328px;
  top:1033px;
  width:298px;
  height:182px;
}
#u4349 {
  position:absolute;
  left:2px;
  top:83px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:182px;
}
#u4350 {
  position:absolute;
  left:626px;
  top:1033px;
  width:196px;
  height:182px;
}
#u4351 {
  position:absolute;
  left:2px;
  top:83px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:182px;
}
#u4352 {
  position:absolute;
  left:822px;
  top:1033px;
  width:205px;
  height:182px;
}
#u4353 {
  position:absolute;
  left:2px;
  top:83px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:182px;
}
#u4354 {
  position:absolute;
  left:1027px;
  top:1033px;
  width:219px;
  height:182px;
}
#u4355 {
  position:absolute;
  left:2px;
  top:83px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:182px;
}
#u4356 {
  position:absolute;
  left:1246px;
  top:1033px;
  width:231px;
  height:182px;
}
#u4357 {
  position:absolute;
  left:2px;
  top:83px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4358 {
  position:absolute;
  left:125px;
  top:187px;
  width:100px;
  height:60px;
}
#u4359 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4360 {
  position:absolute;
  left:427px;
  top:538px;
  width:100px;
  height:60px;
}
#u4361 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4362 {
  position:absolute;
  left:354px;
  top:743px;
  width:100px;
  height:60px;
}
#u4363 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4364 {
  position:absolute;
  left:225px;
  top:217px;
  width:0px;
  height:0px;
}
#u4364_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:406px;
  height:8px;
}
#u4364_seg1 {
  position:absolute;
  left:398px;
  top:-4px;
  width:8px;
  height:138px;
}
#u4364_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4364_seg3 {
  position:absolute;
  left:392px;
  top:121px;
  width:20px;
  height:20px;
}
#u4365 {
  position:absolute;
  left:218px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4366 {
  position:absolute;
  left:477px;
  top:538px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4366_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u4366_seg1 {
  position:absolute;
  left:-5px;
  top:-176px;
  width:8px;
  height:180px;
}
#u4366_seg2 {
  position:absolute;
  left:-5px;
  top:-176px;
  width:140px;
  height:8px;
}
#u4366_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4366_seg4 {
  position:absolute;
  left:122px;
  top:-182px;
  width:20px;
  height:20px;
}
#u4367 {
  position:absolute;
  left:-51px;
  top:-162px;
  width:100px;
  word-wrap:break-word;
}
#u4368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4368 {
  position:absolute;
  left:612px;
  top:351px;
  width:30px;
  height:30px;
}
#u4369 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4370 {
  position:absolute;
  left:694px;
  top:285px;
  width:100px;
  height:60px;
}
#u4371 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4372 {
  position:absolute;
  left:694px;
  top:418px;
  width:100px;
  height:60px;
}
#u4373 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4374 {
  position:absolute;
  left:642px;
  top:366px;
  width:0px;
  height:0px;
}
#u4374_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u4374_seg1 {
  position:absolute;
  left:34px;
  top:-55px;
  width:8px;
  height:59px;
}
#u4374_seg2 {
  position:absolute;
  left:34px;
  top:-55px;
  width:18px;
  height:8px;
}
#u4374_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4374_seg4 {
  position:absolute;
  left:39px;
  top:-61px;
  width:20px;
  height:20px;
}
#u4375 {
  position:absolute;
  left:-12px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4376 {
  position:absolute;
  left:642px;
  top:366px;
  width:0px;
  height:0px;
}
#u4376_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u4376_seg1 {
  position:absolute;
  left:34px;
  top:-4px;
  width:8px;
  height:90px;
}
#u4376_seg2 {
  position:absolute;
  left:34px;
  top:78px;
  width:18px;
  height:8px;
}
#u4376_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4376_seg4 {
  position:absolute;
  left:39px;
  top:72px;
  width:20px;
  height:20px;
}
#u4377 {
  position:absolute;
  left:-12px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4378 {
  position:absolute;
  left:744px;
  top:478px;
  width:0px;
  height:0px;
}
#u4378_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u4378_seg1 {
  position:absolute;
  left:-217px;
  top:86px;
  width:221px;
  height:8px;
}
#u4378_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4378_seg3 {
  position:absolute;
  left:-224px;
  top:80px;
  width:20px;
  height:20px;
}
#u4379 {
  position:absolute;
  left:-114px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4380 {
  position:absolute;
  left:518px;
  top:683px;
  width:100px;
  height:60px;
}
#u4381 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4382 {
  position:absolute;
  left:518px;
  top:783px;
  width:100px;
  height:60px;
}
#u4383 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4384 {
  position:absolute;
  left:160px;
  top:94px;
  width:30px;
  height:30px;
}
#u4385 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4386 {
  position:absolute;
  left:175px;
  top:124px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4386_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u4386_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4386_seg2 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u4387 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u4388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4388 {
  position:absolute;
  left:660px;
  top:79px;
  width:100px;
  height:60px;
}
#u4389 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4390 {
  position:absolute;
  left:190px;
  top:109px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4390_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:474px;
  height:8px;
}
#u4390_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4390_seg2 {
  position:absolute;
  left:457px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4391 {
  position:absolute;
  left:185px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4392 {
  position:absolute;
  left:710px;
  top:139px;
  width:0px;
  height:0px;
}
#u4392_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u4392_seg1 {
  position:absolute;
  left:-87px;
  top:76px;
  width:91px;
  height:8px;
}
#u4392_seg2 {
  position:absolute;
  left:-87px;
  top:76px;
  width:8px;
  height:136px;
}
#u4392_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4392_seg4 {
  position:absolute;
  left:-93px;
  top:199px;
  width:20px;
  height:20px;
}
#u4393 {
  position:absolute;
  left:-118px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4394 {
  position:absolute;
  left:354px;
  top:773px;
  width:0px;
  height:0px;
  color:#FF9500;
}
#u4394_seg0 {
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u4394_seg1 {
  position:absolute;
  left:-18px;
  top:-411px;
  width:8px;
  height:415px;
}
#u4394_seg2 {
  position:absolute;
  left:-18px;
  top:-411px;
  width:276px;
  height:8px;
}
#u4394_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4394_seg4 {
  position:absolute;
  left:245px;
  top:-417px;
  width:20px;
  height:20px;
}
#u4395 {
  position:absolute;
  left:-64px;
  top:-340px;
  width:100px;
  word-wrap:break-word;
}
#u4396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4396 {
  position:absolute;
  left:354px;
  top:898px;
  width:100px;
  height:60px;
}
#u4397 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4398 {
  position:absolute;
  left:477px;
  top:598px;
  width:0px;
  height:0px;
}
#u4398_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u4398_seg1 {
  position:absolute;
  left:-77px;
  top:68px;
  width:81px;
  height:8px;
}
#u4398_seg2 {
  position:absolute;
  left:-77px;
  top:68px;
  width:8px;
  height:77px;
}
#u4398_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4398_seg4 {
  position:absolute;
  left:-83px;
  top:132px;
  width:20px;
  height:20px;
}
#u4399 {
  position:absolute;
  left:-87px;
  top:64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4400 {
  position:absolute;
  left:454px;
  top:773px;
  width:0px;
  height:0px;
}
#u4400_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u4400_seg1 {
  position:absolute;
  left:42px;
  top:-64px;
  width:8px;
  height:68px;
}
#u4400_seg2 {
  position:absolute;
  left:42px;
  top:-64px;
  width:22px;
  height:8px;
}
#u4400_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4400_seg4 {
  position:absolute;
  left:51px;
  top:-70px;
  width:20px;
  height:20px;
}
#u4401 {
  position:absolute;
  left:-4px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4402 {
  position:absolute;
  left:454px;
  top:773px;
  width:0px;
  height:0px;
}
#u4402_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u4402_seg1 {
  position:absolute;
  left:42px;
  top:-4px;
  width:8px;
  height:48px;
}
#u4402_seg2 {
  position:absolute;
  left:42px;
  top:36px;
  width:22px;
  height:8px;
}
#u4402_seg3 {
  position:absolute;
  left:51px;
  top:30px;
  width:20px;
  height:20px;
}
#u4403 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4404 {
  position:absolute;
  left:404px;
  top:803px;
  width:0px;
  height:0px;
}
#u4404_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u4404_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4404_seg2 {
  position:absolute;
  left:-10px;
  top:82px;
  width:20px;
  height:20px;
}
#u4405 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4406 {
  position:absolute;
  left:1140px;
  top:131px;
  width:100px;
  height:60px;
}
#u4407 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4408 {
  position:absolute;
  left:1042px;
  top:416px;
  width:100px;
  height:60px;
}
#u4409 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4410 {
  position:absolute;
  left:1295px;
  top:416px;
  width:100px;
  height:60px;
}
#u4411 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4412 {
  position:absolute;
  left:1295px;
  top:538px;
  width:100px;
  height:60px;
}
#u4413 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4414 {
  position:absolute;
  left:1316px;
  top:683px;
  width:100px;
  height:60px;
}
#u4415 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4416 {
  position:absolute;
  left:1249px;
  top:802px;
  width:100px;
  height:60px;
}
#u4417 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4418 {
  position:absolute;
  left:1316px;
  top:918px;
  width:100px;
  height:60px;
}
#u4419 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4420 {
  position:absolute;
  left:1345px;
  top:476px;
  width:0px;
  height:0px;
}
#u4420_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u4420_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4420_seg2 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u4421 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4422 {
  position:absolute;
  left:1345px;
  top:598px;
  width:0px;
  height:0px;
}
#u4422_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u4422_seg1 {
  position:absolute;
  left:-4px;
  top:68px;
  width:29px;
  height:8px;
}
#u4422_seg2 {
  position:absolute;
  left:17px;
  top:68px;
  width:8px;
  height:17px;
}
#u4422_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4422_seg4 {
  position:absolute;
  left:11px;
  top:72px;
  width:20px;
  height:20px;
}
#u4423 {
  position:absolute;
  left:-50px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4424 {
  position:absolute;
  left:1316px;
  top:713px;
  width:0px;
  height:0px;
}
#u4424_seg0 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u4424_seg1 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:8px;
  height:93px;
}
#u4424_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4424_seg3 {
  position:absolute;
  left:-27px;
  top:76px;
  width:20px;
  height:20px;
}
#u4425 {
  position:absolute;
  left:-67px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4426 {
  position:absolute;
  left:1366px;
  top:743px;
  width:0px;
  height:0px;
}
#u4426_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:179px;
}
#u4426_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4426_seg2 {
  position:absolute;
  left:-10px;
  top:162px;
  width:20px;
  height:20px;
}
#u4427 {
  position:absolute;
  left:-50px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4428 {
  position:absolute;
  left:1140px;
  top:1147px;
  width:100px;
  height:60px;
}
#u4429 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4430 {
  position:absolute;
  left:1316px;
  top:948px;
  width:0px;
  height:0px;
}
#u4430_seg0 {
  position:absolute;
  left:-228px;
  top:-4px;
  width:228px;
  height:8px;
}
#u4430_seg1 {
  position:absolute;
  left:-228px;
  top:-4px;
  width:8px;
  height:111px;
}
#u4430_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4430_seg3 {
  position:absolute;
  left:-234px;
  top:94px;
  width:20px;
  height:20px;
}
#u4431 {
  position:absolute;
  left:-216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4432 {
  position:absolute;
  left:1190px;
  top:191px;
  width:0px;
  height:0px;
}
#u4432_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:182px;
}
#u4432_seg1 {
  position:absolute;
  left:-102px;
  top:174px;
  width:106px;
  height:8px;
}
#u4432_seg2 {
  position:absolute;
  left:-102px;
  top:174px;
  width:8px;
  height:51px;
}
#u4432_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4432_seg4 {
  position:absolute;
  left:-108px;
  top:212px;
  width:20px;
  height:20px;
}
#u4433 {
  position:absolute;
  left:-50px;
  top:154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4434 {
  position:absolute;
  left:1116px;
  top:802px;
  width:100px;
  height:60px;
}
#u4435 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4436 {
  position:absolute;
  left:1295px;
  top:446px;
  width:0px;
  height:0px;
}
#u4436_seg0 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u4436_seg1 {
  position:absolute;
  left:-15px;
  top:-4px;
  width:8px;
  height:277px;
}
#u4436_seg2 {
  position:absolute;
  left:-15px;
  top:265px;
  width:23px;
  height:8px;
}
#u4436_seg3 {
  position:absolute;
  left:0px;
  top:265px;
  width:8px;
  height:91px;
}
#u4436_seg4 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4436_seg5 {
  position:absolute;
  left:-6px;
  top:343px;
  width:20px;
  height:20px;
}
#u4437 {
  position:absolute;
  left:-61px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4438 {
  position:absolute;
  left:1249px;
  top:832px;
  width:0px;
  height:0px;
}
#u4438_seg0 {
  position:absolute;
  left:-33px;
  top:-4px;
  width:37px;
  height:8px;
}
#u4438_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4438_seg2 {
  position:absolute;
  left:-40px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4439 {
  position:absolute;
  left:-66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4440 {
  position:absolute;
  left:1042px;
  top:1055px;
  width:100px;
  height:60px;
}
#u4441 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4442 {
  position:absolute;
  left:1092px;
  top:476px;
  width:0px;
  height:0px;
}
#u4442_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:360px;
}
#u4442_seg1 {
  position:absolute;
  left:-4px;
  top:352px;
  width:28px;
  height:8px;
}
#u4442_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4442_seg3 {
  position:absolute;
  left:11px;
  top:346px;
  width:20px;
  height:20px;
}
#u4443 {
  position:absolute;
  left:-50px;
  top:182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4444 {
  position:absolute;
  left:1092px;
  top:476px;
  width:0px;
  height:0px;
}
#u4444_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:583px;
}
#u4444_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4444_seg2 {
  position:absolute;
  left:-10px;
  top:566px;
  width:20px;
  height:20px;
}
#u4445 {
  position:absolute;
  left:-50px;
  top:282px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4446 {
  position:absolute;
  left:744px;
  top:345px;
  width:0px;
  height:0px;
}
#u4446_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u4446_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4446_seg2 {
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u4447 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4448 {
  position:absolute;
  left:1042px;
  top:285px;
  width:100px;
  height:60px;
}
#u4449 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4450 {
  position:absolute;
  left:1140px;
  top:161px;
  width:0px;
  height:0px;
}
#u4450_seg0 {
  position:absolute;
  left:-52px;
  top:-4px;
  width:52px;
  height:8px;
}
#u4450_seg1 {
  position:absolute;
  left:-52px;
  top:-4px;
  width:8px;
  height:128px;
}
#u4450_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4450_seg3 {
  position:absolute;
  left:-58px;
  top:111px;
  width:20px;
  height:20px;
}
#u4451 {
  position:absolute;
  left:-98px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4452 {
  position:absolute;
  left:1092px;
  top:345px;
  width:0px;
  height:0px;
}
#u4452_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u4452_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4452_seg2 {
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u4453 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4454 {
  position:absolute;
  left:843px;
  top:1055px;
  width:100px;
  height:60px;
}
#u4455 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4456 {
  position:absolute;
  left:454px;
  top:928px;
  width:0px;
  height:0px;
}
#u4456_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:220px;
  height:8px;
}
#u4456_seg1 {
  position:absolute;
  left:212px;
  top:-4px;
  width:8px;
  height:165px;
}
#u4456_seg2 {
  position:absolute;
  left:212px;
  top:153px;
  width:177px;
  height:8px;
}
#u4456_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4456_seg4 {
  position:absolute;
  left:376px;
  top:147px;
  width:20px;
  height:20px;
}
#u4457 {
  position:absolute;
  left:166px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4458 {
  position:absolute;
  left:893px;
  top:1055px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u4458_seg0 {
  position:absolute;
  left:-4px;
  top:-389px;
  width:8px;
  height:389px;
}
#u4458_seg1 {
  position:absolute;
  left:-493px;
  top:-389px;
  width:497px;
  height:8px;
}
#u4458_seg2 {
  position:absolute;
  left:-493px;
  top:-389px;
  width:8px;
  height:77px;
}
#u4458_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u4458_seg4 {
  position:absolute;
  left:-499px;
  top:-325px;
  width:20px;
  height:20px;
}
#u4459 {
  position:absolute;
  left:-138px;
  top:-393px;
  width:100px;
  word-wrap:break-word;
}
#u4460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4460 {
  position:absolute;
  left:925px;
  top:1147px;
  width:100px;
  height:60px;
}
#u4461 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4462 {
  position:absolute;
  left:893px;
  top:1115px;
  width:0px;
  height:0px;
}
#u4462_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u4462_seg1 {
  position:absolute;
  left:-4px;
  top:58px;
  width:36px;
  height:8px;
}
#u4462_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4462_seg3 {
  position:absolute;
  left:19px;
  top:52px;
  width:20px;
  height:20px;
}
#u4463 {
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4464 {
  position:absolute;
  left:1142px;
  top:1085px;
  width:0px;
  height:0px;
}
#u4464_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:292px;
  height:8px;
}
#u4464_seg1 {
  position:absolute;
  left:284px;
  top:-376px;
  width:8px;
  height:380px;
}
#u4464_seg2 {
  position:absolute;
  left:274px;
  top:-376px;
  width:18px;
  height:8px;
}
#u4464_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4464_seg4 {
  position:absolute;
  left:267px;
  top:-382px;
  width:20px;
  height:20px;
}
#u4465 {
  position:absolute;
  left:238px;
  top:-65px;
  width:100px;
  word-wrap:break-word;
}
#u4466 {
  position:absolute;
  left:1166px;
  top:802px;
  width:0px;
  height:0px;
}
#u4466_seg0 {
  position:absolute;
  left:-4px;
  top:-360px;
  width:8px;
  height:360px;
}
#u4466_seg1 {
  position:absolute;
  left:-24px;
  top:-360px;
  width:28px;
  height:8px;
}
#u4466_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u4466_seg3 {
  position:absolute;
  left:-31px;
  top:-366px;
  width:20px;
  height:20px;
}
#u4467 {
  position:absolute;
  left:-50px;
  top:-198px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468 {
  position:absolute;
  left:1166px;
  top:802px;
  width:0px;
  height:0px;
}
#u4468_seg0 {
  position:absolute;
  left:-4px;
  top:-491px;
  width:8px;
  height:491px;
}
#u4468_seg1 {
  position:absolute;
  left:-24px;
  top:-491px;
  width:28px;
  height:8px;
}
#u4468_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u4468_seg3 {
  position:absolute;
  left:-31px;
  top:-497px;
  width:20px;
  height:20px;
}
#u4469 {
  position:absolute;
  left:-50px;
  top:-264px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4470 {
  position:absolute;
  left:501px;
  top:970px;
  width:100px;
  height:60px;
}
#u4471 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4472 {
  position:absolute;
  left:404px;
  top:958px;
  width:0px;
  height:0px;
}
#u4472_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u4472_seg1 {
  position:absolute;
  left:-4px;
  top:38px;
  width:101px;
  height:8px;
}
#u4472_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u4472_seg3 {
  position:absolute;
  left:84px;
  top:32px;
  width:20px;
  height:20px;
}
#u4473 {
  position:absolute;
  left:-22px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4474 {
  position:absolute;
  left:1092px;
  top:1115px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u4474_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u4474_seg1 {
  position:absolute;
  left:-4px;
  top:58px;
  width:52px;
  height:8px;
}
#u4474_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4474_seg3 {
  position:absolute;
  left:35px;
  top:52px;
  width:20px;
  height:20px;
}
#u4475 {
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
