body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2949 {
  position:absolute;
  left:23px;
  top:9px;
  width:30px;
  height:30px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2951 {
  position:absolute;
  left:63px;
  top:9px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u2952 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2953 {
  position:absolute;
  left:24px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2954 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2955 {
  position:absolute;
  left:133px;
  top:73px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2956 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2957 {
  position:absolute;
  left:139px;
  top:81px;
  width:25px;
  height:25px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2959 {
  position:absolute;
  left:405px;
  top:76px;
  width:74px;
  height:34px;
  color:#0099FF;
}
#u2960 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2961 {
  position:absolute;
  left:479px;
  top:78px;
  width:30px;
  height:30px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2963 {
  position:absolute;
  left:509px;
  top:76px;
  width:74px;
  height:34px;
  color:#999999;
}
#u2964 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:364px;
}
#u2965 {
  position:absolute;
  left:24px;
  top:129px;
  width:1042px;
  height:364px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:174px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967 {
  position:absolute;
  left:935px;
  top:162px;
  width:46px;
  height:331px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2968 {
  position:absolute;
  left:981px;
  top:162px;
  width:46px;
  height:331px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
