body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2842 {
  position:absolute;
  left:23px;
  top:9px;
  width:30px;
  height:30px;
}
#u2843 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2844 {
  position:absolute;
  left:63px;
  top:9px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u2845 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u2846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2846 {
  position:absolute;
  left:24px;
  top:73px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2847 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u2848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2848 {
  position:absolute;
  left:133px;
  top:73px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u2849 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2850 {
  position:absolute;
  left:139px;
  top:81px;
  width:25px;
  height:25px;
}
#u2851 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2852 {
  position:absolute;
  left:405px;
  top:76px;
  width:74px;
  height:34px;
  color:#0099FF;
}
#u2853 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  word-wrap:break-word;
}
#u2854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2854 {
  position:absolute;
  left:479px;
  top:78px;
  width:30px;
  height:30px;
}
#u2855 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2856 {
  position:absolute;
  left:509px;
  top:76px;
  width:74px;
  height:34px;
  color:#999999;
}
#u2857 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  word-wrap:break-word;
}
#u2858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:364px;
}
#u2858 {
  position:absolute;
  left:24px;
  top:129px;
  width:1042px;
  height:364px;
}
#u2859 {
  position:absolute;
  left:2px;
  top:174px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2860 {
  position:absolute;
  left:935px;
  top:162px;
  width:46px;
  height:331px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2861 {
  position:absolute;
  left:981px;
  top:162px;
  width:46px;
  height:331px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
