body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7890 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u7891 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
}
#u7892 {
  position:absolute;
  left:339px;
  top:48px;
  width:56px;
  height:28px;
}
#u7893 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
