body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1078px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:499px;
}
#u6236 {
  position:absolute;
  left:7px;
  top:71px;
  width:1070px;
  height:499px;
}
#u6237 {
  position:absolute;
  left:2px;
  top:242px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6238 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u6239 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6240 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u6241 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u6242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
}
#u6242 {
  position:absolute;
  left:144px;
  top:71px;
  width:170px;
  height:35px;
}
#u6243 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6244 {
  position:absolute;
  left:7px;
  top:71px;
  width:88px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:43px;
}
#u6245 {
  position:absolute;
  left:215px;
  top:181px;
  width:132px;
  height:43px;
}
#u6246 {
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:48px;
}
#u6247 {
  position:absolute;
  left:350px;
  top:250px;
  width:230px;
  height:48px;
}
#u6248 {
  position:absolute;
  left:2px;
  top:16px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:43px;
}
#u6249 {
  position:absolute;
  left:673px;
  top:187px;
  width:244px;
  height:43px;
}
#u6250 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:612px;
}
#u6251 {
  position:absolute;
  left:6px;
  top:570px;
  width:1072px;
  height:612px;
}
#u6252 {
  position:absolute;
  left:2px;
  top:298px;
  width:1068px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6253 {
  position:absolute;
  left:917px;
  top:187px;
  width:107px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6254 {
  position:absolute;
  left:737px;
  top:306px;
  width:330px;
  height:209px;
  overflow:hidden;
  visibility:hidden;
}
#u6254_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:209px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6254_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u6255 {
  position:absolute;
  left:6px;
  top:11px;
  width:313px;
  height:185px;
}
#u6256 {
  position:absolute;
  left:2px;
  top:84px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6257 {
  position:absolute;
  left:13px;
  top:17px;
  width:262px;
  height:41px;
  font-size:16px;
  text-align:left;
}
#u6258 {
  position:absolute;
  left:2px;
  top:11px;
  width:258px;
  word-wrap:break-word;
}
#u6259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6259 {
  position:absolute;
  left:17px;
  top:67px;
  width:292px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u6260 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u6261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6261 {
  position:absolute;
  left:168px;
  top:132px;
  width:131px;
  height:45px;
}
#u6262 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u6263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6263 {
  position:absolute;
  left:27px;
  top:132px;
  width:131px;
  height:45px;
}
#u6264 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u6265 {
  position:absolute;
  left:917px;
  top:259px;
  width:107px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
