body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u74 {
  position:absolute;
  left:374px;
  top:30px;
  width:100px;
  height:60px;
}
#u75 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:350px;
  top:171px;
  width:148px;
  height:78px;
}
#u77 {
  position:absolute;
  left:2px;
  top:31px;
  width:144px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u78 {
  position:absolute;
  left:578px;
  top:158px;
  width:156px;
  height:26px;
  text-align:left;
}
#u79 {
  position:absolute;
  left:2px;
  top:5px;
  width:152px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u80 {
  position:absolute;
  left:578px;
  top:184px;
  width:156px;
  height:26px;
  text-align:left;
}
#u81 {
  position:absolute;
  left:2px;
  top:5px;
  width:152px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u82 {
  position:absolute;
  left:578px;
  top:210px;
  width:156px;
  height:26px;
  text-align:left;
}
#u83 {
  position:absolute;
  left:2px;
  top:5px;
  width:152px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u84 {
  position:absolute;
  left:578px;
  top:236px;
  width:156px;
  height:26px;
  text-align:left;
}
#u85 {
  position:absolute;
  left:2px;
  top:5px;
  width:152px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:498px;
  top:210px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u86_seg1 {
  position:absolute;
  left:58px;
  top:-43px;
  width:8px;
  height:47px;
}
#u86_seg2 {
  position:absolute;
  left:58px;
  top:-43px;
  width:22px;
  height:8px;
}
#u87 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:498px;
  top:210px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u88_seg1 {
  position:absolute;
  left:58px;
  top:-17px;
  width:8px;
  height:21px;
}
#u88_seg2 {
  position:absolute;
  left:58px;
  top:-17px;
  width:22px;
  height:8px;
}
#u89 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:498px;
  top:210px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u90_seg1 {
  position:absolute;
  left:58px;
  top:-4px;
  width:8px;
  height:21px;
}
#u90_seg2 {
  position:absolute;
  left:58px;
  top:9px;
  width:22px;
  height:8px;
}
#u91 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:498px;
  top:210px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u92_seg1 {
  position:absolute;
  left:58px;
  top:-4px;
  width:8px;
  height:47px;
}
#u92_seg2 {
  position:absolute;
  left:58px;
  top:35px;
  width:22px;
  height:8px;
}
#u93 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:424px;
  top:90px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u95 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  position:absolute;
  left:350px;
  top:321px;
  width:148px;
  height:78px;
}
#u97 {
  position:absolute;
  left:2px;
  top:31px;
  width:144px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:350px;
  top:471px;
  width:148px;
  height:78px;
}
#u99 {
  position:absolute;
  left:2px;
  top:31px;
  width:144px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:424px;
  top:249px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u100_seg1 {
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:424px;
  top:399px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u102_seg1 {
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
