body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7060 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1101px;
  height:50px;
}
#u7061 {
  position:absolute;
  left:2px;
  top:17px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 185, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7062 {
  position:absolute;
  left:7px;
  top:6px;
  width:9px;
  height:36px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:10px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7064 {
  position:absolute;
  left:26px;
  top:15px;
  width:57px;
  height:16px;
  color:#999999;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:1105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7066 {
  position:absolute;
  left:30px;
  top:87px;
  width:1040px;
  height:1105px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:544px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068 {
  position:absolute;
  left:415px;
  top:963px;
  width:131px;
  height:45px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7070 {
  position:absolute;
  left:568px;
  top:963px;
  width:131px;
  height:45px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:459px;
}
#u7072 {
  position:absolute;
  left:77px;
  top:589px;
  width:738px;
  height:459px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:222px;
  width:734px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:613px;
}
#u7074 {
  position:absolute;
  left:75px;
  top:436px;
  width:1px;
  height:612px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:298px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:614px;
}
#u7076 {
  position:absolute;
  left:814px;
  top:435px;
  width:1px;
  height:613px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:298px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:614px;
}
#u7078 {
  position:absolute;
  left:1026px;
  top:435px;
  width:1px;
  height:613px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:298px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:477px;
}
#u7080 {
  position:absolute;
  left:73px;
  top:112px;
  width:955px;
  height:477px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:230px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:170px;
}
#u7082 {
  position:absolute;
  left:826px;
  top:289px;
  width:183px;
  height:170px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:77px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:2px;
}
#u7084 {
  position:absolute;
  left:75px;
  top:589px;
  width:740px;
  height:1px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:2px;
}
#u7086 {
  position:absolute;
  left:74px;
  top:1047px;
  width:952px;
  height:1px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:948px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7088 {
  position:absolute;
  left:408px;
  top:1105px;
  width:131px;
  height:45px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
#u7090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7090 {
  position:absolute;
  left:561px;
  top:1105px;
  width:131px;
  height:45px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:14px;
  width:127px;
  word-wrap:break-word;
}
