body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1102px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:91px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:91px;
}
#u725 {
  position:absolute;
  left:2px;
  top:38px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
}
#u726 {
  position:absolute;
  left:24px;
  top:31px;
  width:140px;
  height:29px;
}
#u727 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:284px;
  top:172px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:393px;
  top:172px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u731 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u732 {
  position:absolute;
  left:502px;
  top:172px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:611px;
  top:172px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u735 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u736 {
  position:absolute;
  left:24px;
  top:107px;
  width:30px;
  height:30px;
}
#u737 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u738 {
  position:absolute;
  left:64px;
  top:107px;
  width:76px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u739 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:411px;
}
#u740 {
  position:absolute;
  left:24px;
  top:162px;
  width:250px;
  height:411px;
}
#u741 {
  position:absolute;
  left:2px;
  top:198px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:364px;
}
#u742 {
  position:absolute;
  left:284px;
  top:222px;
  width:764px;
  height:364px;
}
#u743 {
  position:absolute;
  left:2px;
  top:174px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744 {
  position:absolute;
  left:543px;
  top:31px;
  width:405px;
  height:35px;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u746 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u747 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u748 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u749 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u750 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u751 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u752 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
