body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:690px;
}
#u3446 {
  position:absolute;
  left:1px;
  top:1px;
  width:749px;
  height:690px;
}
#u3447 {
  position:absolute;
  left:2px;
  top:337px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
