body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1196px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7717 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u7718 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u7719 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u7720 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u7721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:462px;
}
#u7721 {
  position:absolute;
  left:24px;
  top:70px;
  width:1147px;
  height:462px;
}
#u7722 {
  position:absolute;
  left:2px;
  top:223px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:562px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7723 {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:562px;
}
#u7724 {
  position:absolute;
  left:2px;
  top:273px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:441px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7725 {
  position:absolute;
  left:222px;
  top:45px;
  width:752px;
  height:441px;
}
#u7726 {
  position:absolute;
  left:2px;
  top:212px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7727 {
  position:absolute;
  left:228px;
  top:51px;
  width:7px;
  height:40px;
}
#u7728 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u7729 {
  position:absolute;
  left:245px;
  top:51px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u7730 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u7731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:381px;
}
#u7731 {
  position:absolute;
  left:275px;
  top:100px;
  width:653px;
  height:381px;
}
#u7732 {
  position:absolute;
  left:2px;
  top:182px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:84px;
}
#u7733 {
  position:absolute;
  left:648px;
  top:303px;
  width:254px;
  height:84px;
}
#u7734 {
  position:absolute;
  left:2px;
  top:34px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u7735 {
  position:absolute;
  left:664px;
  top:303px;
  width:104px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7736 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u7737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u7737 {
  position:absolute;
  left:719px;
  top:344px;
  width:114px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u7738 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
