body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6027 {
  position:absolute;
  left:7px;
  top:8px;
  width:782px;
  height:200px;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6029 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:45px;
}
#u6030 {
  position:absolute;
  left:100px;
  top:0px;
  width:677px;
  height:45px;
}
#u6031 {
  position:absolute;
  left:2px;
  top:14px;
  width:673px;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:105px;
}
#u6032 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:105px;
}
#u6033 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u6034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:105px;
}
#u6034 {
  position:absolute;
  left:100px;
  top:45px;
  width:677px;
  height:105px;
  text-align:left;
}
#u6035 {
  position:absolute;
  left:2px;
  top:20px;
  width:673px;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6036 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:45px;
}
#u6037 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:45px;
}
#u6038 {
  position:absolute;
  left:100px;
  top:150px;
  width:677px;
  height:45px;
}
#u6039 {
  position:absolute;
  left:2px;
  top:14px;
  width:673px;
  word-wrap:break-word;
}
