body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6134 {
  position:absolute;
  left:7px;
  top:8px;
  width:782px;
  height:200px;
}
#u6135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6135 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6136 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:45px;
}
#u6137 {
  position:absolute;
  left:100px;
  top:0px;
  width:677px;
  height:45px;
}
#u6138 {
  position:absolute;
  left:2px;
  top:14px;
  width:673px;
  word-wrap:break-word;
}
#u6139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:105px;
}
#u6139 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:105px;
}
#u6140 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u6141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:105px;
}
#u6141 {
  position:absolute;
  left:100px;
  top:45px;
  width:677px;
  height:105px;
  text-align:left;
}
#u6142 {
  position:absolute;
  left:2px;
  top:20px;
  width:673px;
  word-wrap:break-word;
}
#u6143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6143 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:45px;
}
#u6144 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:45px;
}
#u6145 {
  position:absolute;
  left:100px;
  top:150px;
  width:677px;
  height:45px;
}
#u6146 {
  position:absolute;
  left:2px;
  top:14px;
  width:673px;
  word-wrap:break-word;
}
