body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:149px;
}
#u7104 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:149px;
}
#u7105 {
  position:absolute;
  left:2px;
  top:66px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
